(node) util.print is deprecated. Use console.log instead.
#bindingBracelet .tableDiv {
  position: relative;
}
#bindingBracelet .tableDiv .noomCardHeader .am-card-header-content img {
  width: 50px;
  height: 50px;
}
#bindingBracelet .tableDiv .noomCardUnbind {
  color: #ff144e;
}
#bindingBracelet .tableDiv .addBunton {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  font-size: 20px;
  background-color: yellow;
}
#bindingBracelet .tableDiv .liName {
  font-size: 30px;
}
#bindingBracelet .addModel {
  background-color: #fff;
  position: relative;
}
#bindingBracelet .addModel .chooseResult {
  height: 300px;
  overflow: auto;
}
#bindingBracelet .addModel .macAddress {
  position: relative;
}
#bindingBracelet .addModel .macAddress .scanIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#bindingBracelet .addModel .stName {
  position: relative;
}
#bindingBracelet .addModel .stName .stIcon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
}
#bindingBracelet .addModel .binding {
  width: 70%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
