#bindingBracelet {
  font-size: 17px;
}
#bindingBracelet .am-list-view-scrollview-content {
  height: 100%;
  width: 100%;
}
#bindingBracelet .am-list-body::before {
  display: none;
}
#bindingBracelet .am-pull-to-refresh-indicator {
  font-size: 1rem !important;
}
#bindingBracelet .am-wingblank.am-wingblank-lg {
  margin: 0;
}
#bindingBracelet .am-whitespace.am-whitespace-lg {
  background-color: #f4f4f4;
}
#bindingBracelet .tableDiv {
  position: relative;
}
#bindingBracelet .tableDiv .am-list-body .am-wingblank.am-wingblank-lg:first-child .am-whitespace {
  display: none;
}
#bindingBracelet .tableDiv .am-card {
  padding: 0 15px;
}
#bindingBracelet .tableDiv .am-card .am-card-header {
  padding: 0;
  height: 48px;
  line-height: 48px;
}
#bindingBracelet .tableDiv .am-card::before {
  border: none !important;
}
#bindingBracelet .tableDiv .am-card-body {
  color: #666 !important;
  padding: 15px 0;
  min-height: 20px;
}
#bindingBracelet .tableDiv .am-card-body::before {
  background-color: #eee;
}
#bindingBracelet .tableDiv .am-card-footer {
  margin-bottom: 1rem;
  padding: 0;
  color: #666;
  font-size: 15px;
}
#bindingBracelet .tableDiv .am-card-header-extra {
  width: 70px;
  -webkit-flex: inherit;
  -moz-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
#bindingBracelet .tableDiv .noomCardUnbind {
  background: #F56A55;
  color: #fff !important;
  width: 55px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  display: inline-block;
}
#bindingBracelet .tableDiv .noomCardHeader .am-card-header-content {
  color: #333;
  width: calc(100% - 70px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  -webkit-flex: inherit;
  -moz-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
#bindingBracelet .tableDiv .noomCardHeader .am-card-header-content img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 2px;
}
#bindingBracelet .tableDiv .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#bindingBracelet .tableDiv .addBunton img {
  width: 100%;
}
#bindingBracelet .tableDiv .liName {
  font-size: 30px;
}
#bindingBracelet .tableDiv .studentCardHeader {
  padding: 11px 0 !important;
}
#bindingBracelet .tableDiv .studentCardHeader .am-card-header-content img {
  float: left;
}
#bindingBracelet .student_contList {
  margin-bottom: 15px;
}
#bindingBracelet .student_contList div {
  display: inline-block;
}
#bindingBracelet .student_contList .student_list {
  width: 60%;
}
#bindingBracelet .student_contList .student_list2 {
  width: calc(40% - 15px);
  margin-left: 15px;
  text-align: right;
}
#bindingBracelet .studen_contList2 {
  line-height: 34px;
}
#bindingBracelet .studen_contList2 span {
  float: left;
}
#bindingBracelet .studen_contList2 .class {
  width: 50px;
}
#bindingBracelet .studen_contList2 .classinfo {
  width: calc(100% - 50px);
}
#bindingBracelet .addModel {
  box-sizing: border-box;
  padding: 20px 0px;
  position: relative;
}
#bindingBracelet .addModel .am-list .am-list-body::before {
  display: none !important;
}
#bindingBracelet .addModel .am-list .am-list-body::after {
  display: none !important;
}
#bindingBracelet .addModel .am-list .am-list-body {
  background: transparent;
}
#bindingBracelet .addModel .am-list .am-list-body .macAddress {
  margin-bottom: 1rem;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item {
  box-sizing: border-box;
  background: #eee;
  margin-bottom: 0px;
  padding: 0;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line {
  padding: 0;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-content {
  font-size: 15px;
  margin: 0rem 1rem;
  padding: 12px;
  border-top: 0.5px solid #ddd;
  color: #666;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-content .am-list-brief {
  font-size: 14px;
  color: #7b7b7b;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-extra .am-radio.am-radio-checked {
  height: 100%;
}
#bindingBracelet .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-extra .am-radio-inner {
  top: 45%;
  transform: translateY(-50%);
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-item {
  padding: 0 15px;
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-item .am-input-label {
  color: #333;
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-item .am-input-control input {
  color: #333;
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-line::after {
  height: 0px;
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-line .am-input-label.am-input-label-5 {
  width: 50px !important;
}
#bindingBracelet .addModel .am-list .am-list-body .am-list-line .am-input-control input {
  width: 88% !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#bindingBracelet .addModel .chooseResult {
  height: 300px;
  overflow: auto;
}
#bindingBracelet .addModel .chooseResult > div:first-child {
  color: #F56A55;
}
#bindingBracelet .addModel .chooseResult > div:first-child .am-list-item .am-list-line .am-list-content {
  border-top: 0 !important;
}
#bindingBracelet .addModel .close {
  font-size: 1.5em;
  background: #fff;
  color: #e46a51;
}
#bindingBracelet .addModel > h1 {
  margin-bottom: 50px;
}
#bindingBracelet .addModel .macAddress {
  position: relative;
}
#bindingBracelet .addModel .macAddress .scanIcon {
  width: 19px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
#bindingBracelet .addModel .stName {
  position: relative;
}
#bindingBracelet .addModel .stName .stIcon {
  width: 19px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
#bindingBracelet .addModel .bottomBox {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#bindingBracelet .addModel .bottomBox span {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
}
#bindingBracelet .addModel .bottomBox .bind {
  background: #e46a51;
  color: #fff;
}
#bindingBracelet .search-nav {
  background: #efeff4;
  padding: 9px 15px;
  position: relative;
}
#bindingBracelet .search-nav i {
  background: url("../imgs/icon_search.png") no-repeat center center #fff;
  font-size: 0;
  width: 20px;
  height: 34px;
  background-size: 15px 19px;
  float: left;
  padding-left: 8px;
}
#bindingBracelet .search-nav input {
  z-index: 2;
  width: calc(100% - 58px);
  text-align: left;
  display: block;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border: 0;
  padding: 0 30px 0 0px;
  height: 34px;
}
#bindingBracelet .search-nav .close {
  position: absolute;
  background: url("../imgs/icon-close.png") no-repeat;
  width: 16px;
  height: 16px;
  right: 22px;
  top: 18px;
  background-size: 16px;
}
#bindingBracelet ::-moz-placeholder {
  color: #bfbfbf;
}
#bindingBracelet input:-ms-input-placeholder {
  color: #bfbfbf;
}
#bindingBracelet input::-webkit-input-placeholder {
  color: #bfbfbf;
}
