#bindingBracelet {
  .tableDiv {
    position: relative;
    .noomCardHeader .am-card-header-content img {
      width: 50px;
      height: 50px;
    }
    .noomCardUnbind {
      color: #ff144e;
    }
    .addBunton {
      width: 50px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      text-align: center;
      font-size: 20px;
      background:rgba(0,0,0,.6);
      border-radius: 50%;
    }
    .liName {
      font-size: 30px;
    }
  }
  .addModel {
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    position: relative;
    .am-list{
      .am-list-body::before{
        display: none!important;
      }
      .am-list-body::after{
        display: none!important;
      }
      .am-list-body{
        
        .am-list-line{
          .am-input-label.am-input-label-5{
            width: 50px!important;
          }
          .am-input-control{
            input {
              width: 88%!important;
              overflow: hidden;
              white-space: nowrap;
              text-overflow:ellipsis;  
            }
          }
        }
      }
    }
    .chooseResult {
      height: 300px;
      overflow: auto;
    }
    .close {
      font-size: 1.5em;
    }
    >h1{
      margin-bottom: 50px;
    }
    .macAddress {
      position: relative;
      .scanIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .stName {
      position: relative;
      .stIcon {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .binding {
      width: 70%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}