#boxBracelet {
  .tableDiv {
    position: relative;
    .am-card-body{
      min-height: 1.5rem!important;
      color: #888!important;
      .am-list-item{

        .am-input-label,
        {
          color: #3c3c3c;
        }
        .am-input-control input{
          color: #3c3c3c;
        }
      }

    }
    .am-card-footer {
      margin-bottom: 1rem;
    }
    .noomCardUnbind {
      background:#f55d45!important;
      color: #fff!important;
      padding: 0.3rem 1.3rem;
    }

    .noomCardHeader .am-card-header-content{
      font-size: 1rem;
      color: #3c3c3c;
    }
    .addBunton {
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      right: 3rem;
      bottom: 5rem;

      img {
        width: 100%;
      }
    }
    .liName {
      font-size: 30px;
    }
  }
  .addModel {
    background-color: #fff;
    position: relative;
    .close{
      font-size: 1.5em;
      background: #fff;
      color: #e46a51;
    }
    .am-list {
      .am-list-body::before{
        display: none!important;
      }
      .am-list-body::after{
        display: none!important;
      }
      .am-list-body{

        .am-input-label-5{
          width:50px!important;
        }
      }
    }
    .chooseResult {
      height: 30rem!important;
      overflow: auto;
    }
    .macAddress {
      position: relative;
      .scanIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .stName {
      position: relative;
      .stIcon {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .binding {
      width: 70%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
    .bottomBox{
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      span{
        flex: 1;
        text-align: center;
        font-size: 1rem;
        display: block;
        padding: 10px;
        display: block;
      }
      .bind {
        background:#e46a51;
        color: #fff;

      }

    }
  }
}