#boxBracelet {
  .tableDiv {
    position: relative;
    .addBunton {
      width: 50px;
      height: 50px;
      line-height: 50px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      text-align: center;
      font-size: 20px;
      background-color: yellow;
    }
    .liName {
      font-size: 30px;
    }
  }
  .addModel {
    position: relative;
    .chooseResult {
      height: 300px;
      overflow: auto;
    }
    .macAddress {
      display: inline-block;
      width: 60%;
      height: 30px;
      border: 1px solid #333333;
    }
    .scanIcon {
      width: 30px;
      height: 30px;
    }
    .binding {
      width: 70%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}