(node) util.print is deprecated. Use console.log instead.
#ringBinding {
  text-align: center;
  font-size: 20px;
}
#ringBinding > div {
  background: #fff;
  padding: 5.8rem 3.6rem;
  display: flex;
}
#ringBinding > div > span {
  font-size: 1rem;
  color: #3c3c3c;
  line-height: 5rem;
  margin-left: 4.8rem;
}
#ringBinding .bracelet::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 0.05rem;
  border: 1PX solid #eee;
}
#ringBinding .bracelet {
  position: relative;
}
#ringBinding .bracelet img {
  width: 5rem;
  height: 5rem;
}
#ringBinding .box img {
  width: 5rem;
  height: 5rem;
}
