#ringBinding {
  text-align: center;
  background-color: #f4f4f4;
  >div {
    background: #fff;
    line-height: 55px;
    display: flex;

    >span {
      font-size: 15px;
      margin-left: 55px;
    }
  }
  .bracelet,.box{
    padding: 0 15px;
    border-bottom: 15px #f4f4f4 solid;
    position: relative;
    img{
      width: 45px;
      height: 45px;
      position: absolute;
      top:50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

}