#addSchoolInfo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;
}
#addSchoolInfo .am-list-body::before,
#addSchoolInfo .am-list-body::after {
  background-color: #e5e5e5;
}
#addSchoolInfo .am-list-header {
  font-size: 14px;
  color: #333;
  padding: 20px 0;
}
#addSchoolInfo .school-info {
  padding: 0 15px;
}
#addSchoolInfo .school-info .am-list-body {
  border-radius: 3px;
  background-color: #F5F5F5;
  overflow: hidden;
}
#addSchoolInfo .school-info .am-textarea-control {
  padding-bottom: 25px;
}
#addSchoolInfo .school-info .am-list .am-list-item.am-textarea-item {
  background-color: #F5F5F5;
  padding: 0;
  position: relative;
}
#addSchoolInfo .school-info .am-list .am-list-item.am-textarea-item::before {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
#addSchoolInfo .school-info .am-list .am-list-item.am-textarea-item::after {
  display: block !important;
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  left: auto;
  bottom: auto;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
#addSchoolInfo .school-info textarea {
  height: 189px;
  font-size: 14px;
  max-height: 380px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}
#addSchoolInfo .submitBtn .am-button {
  height: 44px;
  line-height: 44px;
  border-radius: 5px !important;
  font-size: 15px;
}
