#addClassBrandTemplate {
  /*上传图片*/
  /*修改图片*/
}
#addClassBrandTemplate .redStar {
  color: red;
  font-size: 22px;
  position: absolute;
  left: 72px;
  top: 12px;
}
#addClassBrandTemplate .submitBtn {
  position: absolute !important;
  width: calc(100% - 30px);
  left: 15px;
}
#addClassBrandTemplate .uploadDiv {
  padding: 15px;
  background-color: #fff;
}
#addClassBrandTemplate .uploadDiv .title {
  font-size: 17px;
  color: #333;
  line-height: 44px;
}
#addClassBrandTemplate .uploadDiv .uploadBtn {
  background: url("../imgs/addPic.png") no-repeat;
  width: 84px;
  height: 84px;
  background-size: 100%;
}
#addClassBrandTemplate .uploadDiv .imgDiv {
  width: 84px;
  height: 84px;
  margin-right: 15px;
  background-color: #eee;
  text-align: center;
  position: relative;
}
#addClassBrandTemplate .uploadDiv img {
  width: 84px;
  height: 47px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -42px;
  margin-top: -23.5px;
}
#addClassBrandTemplate .modifyDiv {
  padding: 15px;
  background-color: #fff;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}
#addClassBrandTemplate .modifyDiv .title {
  font-size: 17px;
  color: #333;
  line-height: 44px;
}
#addClassBrandTemplate .modifyDiv .imgDiv {
  width: calc(100% - 85px);
}
#addClassBrandTemplate .modifyDiv .imgDiv img {
  width: 84px;
  height: 47px;
}
#addClassBrandTemplate .modifyDiv .modifyBtn {
  font-size: 16px;
  color: #F56A55;
  border: 1px #F56A55 solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  width: 85px;
  text-align: center;
}
