#addClassBrandTemplate{
  .redStar{
    color: red;
    font-size: 22px;
    position: absolute;
    left: 72px;
    top: 12px;
  }
  .submitBtn{
    position: absolute !important;
    width: calc(~"100% - 30px");
    left: 15px;
  }
  /*上传图片*/
  .uploadDiv{
    padding: 15px;
    background-color: #fff;
    .title{
      font-size: 17px;
      color: #333;
      line-height: 44px;
    }
    .uploadBtn{
      background: url("../imgs/addPic.png") no-repeat;
      width: 7.5rem;
      height: 7.5rem;
      background-size: 100%;
    }
  }
  /*修改图片*/
  .modifyDiv{
    padding: 15px;
    background-color: #fff;
    .title{
      font-size: 17px;
      color: #333;
      line-height: 44px;
    }

  }
}