#classBrandTemplateList{
  .am-list-body::before,.am-list-body::after,.am-list-line::after{
    display: none;;
  }
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .classInfo{
    position: relative;
    padding: 10px 0;
    line-height: 24px;
    .cont{
      padding: 0 15px;
      .titleText{
        width: calc(~"100% - 40px");
      }
      .title{
        font-size: 17px;
        color: #333;
        padding-top: 10px;
      }
      img{
        width: 40px;
      }

      #getClassTableList .amList .am-list-item .am-list-line .am-list-extra{
        text-align: left;
      }
    }
    .am-list.amList{
      width: 170px;
      display: inline-block;
    }
    .am-button-primary{
      background-color: #fff;
      &::before{
        display: none;
      }
    }
    .am-switch .checkbox{
      height: 23px;
      width: 46px;
    }
    .am-switch .checkbox:after{
      width: 21px;
      height: 21px;
      top: 1px;
    }
    .am-switch .checkbox:before{
      background: #e5e5e5;
      height: 23px;
      width: 44px;
      top: 0;
    }
    .open_text{
      color: #666;
      font-size: 16px;
    }
    .am-button-small{
      height: 44px;
    }
    .amList_cont{
      padding-right: 15px;
    }
  }
}