*{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
input , textarea , select{
    -webkit-touch-callout:text;
    -webkit-user-select:text;
    -khtml-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
    outline: none;
}
.user_face img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 12px;
}
.userinfo_cont{
    padding: 15px;
}
.userinfo_info{
    line-height: 34px;
}
.userinfo_left{
    width: 60px;
    min-width: 60px;
    display: inline-block;
    text-align: right;
}
.userinfo_right{
    color: #333;
    margin-left: 10px;
}
.user_name{
    padding:3px 0;
}
hr.line{
    height: 1px;
    margin: 10px 0;
    border: none;
    width:100%;
    position:relative;
}
hr.line:before{
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #e5e5e5;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
}
.icon_ios{
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}
.search_top .am-search-cancel{
    color:#F46A55
}
.search_list_item .am-list-line .am-list-content{
    text-indent: 20px;
    font-size: 14px !important;
    color: #333 !important;
}
.userinfo_wrap .am-list-body::before, .userinfo_wrap .am-list-body div:not(:last-child) .am-list-line::after, .userinfo_wrap .am-list-body::after{
    background-color: #fff !important;
}
.user_info_line{
    position:relative;
    margin-top: 5px;
}
.user_info_line:before{
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #e5e5e5;
    height: 200%;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
}
.icon_del{
    width: 14px;
    height: 14px;
    float: right;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 1px;
}
.icon_del img{
    max-height: 100%;
    max-width: 100%;
}
.userinfo_wrap .am-search{
    background: #eee;
}
.userinfo_wrap .line_item:last-child{
    display: none;
}
.user_height{
    height: 100%;
}
.am-drawer-content{
    overflow: hidden !important;
}
.user_more{
    font-size: 12px;
    color: #999;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.user_bottom{
    padding-top: 15px;
}
.icon_empty{
    width: 9rem;
    height: 9rem;
    margin: 45% auto 0 auto;
}
.icon_empty img{
    width: 100%;
    height:100%;
}