#ARTag{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  .textTitle{
    position: relative;
  }
  .am-list-item .am-input-label.am-input-label-5{
    width: 86px;
  }
  .redStar{
    color: red;
    font-size: 22px;
    position: absolute;
    right: 2px;
    top: 2px
  }
  .am-list-line::after{
    display: none !important;
  }
  .am-list-line{
    border: 0;
  }
  .arBtn{
    background-color: #F56A55;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    text-align: center;
  }
  .tagList{
      background-color: #fff;
      padding: 12.5px 15px;
      overflow: hidden;
      .content{
        float: left;
        font-size: 17px;
        color: #333;
        line-height: 30px;
        width: calc(~"100% - 70px");
      }
    .smallBtn{
      height: 30px;
    }
  }
}