#stuList{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .stu-title{
    height: 42px;
    padding-left: 15px;
    color: #666666;
    font-size: 14px;
    line-height: 42px;
  }
  .StudentList{
    background: #fff;
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
    & div{
      height: 52px;
      line-height: 52px;
      padding: 0 15px;
      position: relative;
      .gray{
        color: #666;
      }
      .unbundling{
        border: 1px solid #1AAD18;
        color: #1AAD18;
        padding:6px 15px;
        text-align: center;
        line-height: 1;
        border-radius: 2px;
        font-size: 14px;
        position: absolute;
        right: 15px;
        top: 11px;
      }
      .i-change{
        background: url("../img/icon-change.png") no-repeat;
        background-size: 100% 100%;
        width: 16px;
        height:16px;
        display: inline-block;
        position: absolute;
        top: 17px;
        right: 15px;
      }

    }
    .line_public:after {
      right: 15px;
      left: 15px;
      width: auto;
    }
  }
}