#classCardHomePage {
  .home_right{
    width: 13.33rem;
    float: right;
  }
  .home_left{
    width: 11.67rem;
    float: left;
  }
  .home_center{
    width: calc(~"100%" - 26.66rem);
    float: left;
  }
}