#classCardHomePage .home_right {
  width: 13.33rem;
  float: right;
}
#classCardHomePage .home_left {
  width: 11.67rem;
  float: left;
}
#classCardHomePage .home_center {
  width: calc(100% - 26.66rem);
  float: left;
  margin: 0 0.83rem;
}
#classCardHomePage .home_title {
  font-size: 0.72rem;
  color: #2a3350;
  padding: 0.56rem 0 0.33rem 0.83rem;
  margin: 0;
  border-bottom: 1px solid #e5ebf7;
}
#classCardHomePage .home_titleMore {
  padding-right: 0.83rem;
  float: right;
  font-size: 0.61rem;
  font-weight: normal;
}
#classCardHomePage i.titleMore {
  background: url("../imgs/next_s_icon.png") no-repeat;
  width: 0.83rem;
  height: 0.83rem;
  display: inline-block;
  background-size: 100% 100%;
  float: right;
  margin-top: -2px;
}
#classCardHomePage i.notify_titleMore {
  margin-top: 0.6rem;
}
#classCardHomePage .home_card {
  background: #fff;
  border-radius: 6px;
  color: #2a3350;
}
#classCardHomePage .home_cardCont {
  padding: 0.83rem;
}
#classCardHomePage .home_contfont {
  font-size: 0.61rem;
  color: #565c72;
}
#classCardHomePage .studentOnDuty_face {
  width: 1.94rem;
  height: 1.94rem;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto 0.28rem auto;
}
#classCardHomePage .studentOnDuty_list {
  width: 2.28rem;
  display: inline-block;
  margin: 0 0.11rem 0.56rem 0.11rem;
  text-align: center;
}
#classCardHomePage .studentOnDuty_name {
  width: 100%;
}
#classCardHomePage .studentOnDuty_height {
  height: 12.78rem;
}
#classCardHomePage .course_height {
  height: 12.78rem;
}
#classCardHomePage .currentAttendance_height,
#classCardHomePage .moralEducationScore_height {
  height: 11.67rem;
  margin-top: 0.83rem;
}
#classCardHomePage .currentAttendance_height {
  height: 11.78rem;
}
#classCardHomePage .currentAttendance_height .classTableA {
  height: 8.94rem;
}
#classCardHomePage .classDemeanor_height,
#classCardHomePage .health_height {
  padding-bottom: 0.83rem;
  width: 100%;
}
#classCardHomePage .notify_height {
  height: 8.33rem;
  margin-top: 0.83rem;
  float: left;
  width: calc(50% - 0.42rem);
}
#classCardHomePage .application_height {
  height: 8.33rem;
  margin-top: 0.83rem;
  width: calc(50% - 0.42rem);
  float: left;
  margin-left: 0.83rem;
}
#classCardHomePage .health_left {
  margin-left: 0.83rem;
}
#classCardHomePage .font_title2 {
  font-size: 0.67rem;
  color: #2a3350;
}
#classCardHomePage .notify_cont {
  height: 6.4rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
#classCardHomePage .notify_cont li {
  height: 1.94rem;
  line-height: 1.94rem;
  border-bottom: 1px solid #e5ebf7;
  padding: 0 0.83rem;
}
#classCardHomePage .notify_cont li:last-child {
  border-bottom: none;
}
#classCardHomePage .moralEducationScore .blue_text {
  font-size: 0.72rem;
  color: #5091fe;
}
#classCardHomePage .mEScoreInfo {
  height: 8.25rem;
  position: relative;
}
#classCardHomePage .mEScoreInfoM {
  text-align: center;
  margin: 2rem 0 2.1rem 0;
}
#classCardHomePage .blue_big {
  font-size: 2.22rem;
  color: #5091fe;
  margin: 0 0.4rem;
}
#classCardHomePage .class_mien1 {
  padding: 0.83rem 0 0 0;
  overflow: hidden;
}
#classCardHomePage .class_mien1 .slider-list {
  height: 4.17rem !important;
}
#classCardHomePage .class_mien1 .slider-list li {
  height: 100% !important;
}
#classCardHomePage .class_mien2 {
  margin: 0.83rem 0 0 0;
  overflow: hidden;
}
#classCardHomePage .class_mien2 .slider-list {
  height: 7.78rem !important;
}
#classCardHomePage .class_mien2 .slider-list li {
  height: 100% !important;
}
#classCardHomePage .demeanor_list1 {
  height: 5.39rem !important;
  position: relative;
}
#classCardHomePage .demeanor_list2 {
  height: 8.2rem !important;
  position: relative;
  border-top: 1px solid #e5ebf7;
}
#classCardHomePage .application_cont {
  padding: 0.56rem 0.17rem 0 0.06rem;
  height: 6rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#classCardHomePage .app_list {
  width: 2.56rem;
  display: inline-block;
  margin-left: 0.13rem;
  text-align: center;
  margin-bottom: 0.61rem;
}
#classCardHomePage .app_list_img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
  background: #cfd3dd;
  margin: 0 auto 0.44rem auto;
}
#classCardHomePage .app_list_img .task {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../imgs/icon_task.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .stepNumber {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../imgs/icon_stepNumber.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .calorie {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../imgs/icon_calorie.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .message {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../imgs/icon_message.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .i-excellentStu {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../imgs/i-excellentStu.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_text {
  font-size: 0.61rem;
  width: 100%;
}
#classCardHomePage .notify_list {
  width: calc(100% - 1rem);
  font-size: 0.61rem;
}
#classCardHomePage .demeanor_margin {
  margin: 0 0.83rem;
  height: 13.62rem;
  position: relative;
}
#classCardHomePage .publicHome_left {
  width: 13.61rem;
  height: 25.28rem;
  float: left;
}
#classCardHomePage .publicHome_left .notify_height {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#classCardHomePage .publicHome_left .notify_cont {
  height: 23.6rem;
}
#classCardHomePage .publicHome_center {
  width: calc(100% - 28.88rem);
  margin: 0 0.83rem;
  float: left;
  height: 25.28rem;
}
#classCardHomePage .publicHome_center .course_height {
  height: 100%;
}
#classCardHomePage .publicHome_right {
  width: 13.61rem;
  height: 12.64rem;
  float: right;
}
#classCardHomePage .publicHome_right .currentAttendance_height {
  margin-top: 0;
}
#classCardHomePage .studentOnDuty_cont {
  height: 9.9rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0.56rem 0 0.56rem 0.83rem;
  padding: 0 0.83rem 0 0;
}
#classCardHomePage .studentOnDuty_today {
  color: #2a3350;
  font-size: 0.72rem;
  margin: 0 0 0.83rem 0;
  font-weight: normal;
}
#classCardHomePage .empty_icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.36rem;
  display: inline-block;
  margin-top: -0.5rem;
}
#classCardHomePage .empty_text {
  font-size: 0.56rem;
  color: #959ab1;
  text-align: center;
}
#classCardHomePage .empty_currentAttendance {
  background: url("../imgs/empty_currentAttendance.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_activity {
  background: url("../imgs/empty_activity.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_honor {
  background: url("../imgs/empty_honor.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_moralEducationScore {
  background: url("../imgs/empty_moralEducationScore.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_notify {
  background: url("../imgs/empty_notify.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_course {
  background: url("../imgs/empty_course.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .publicempty_icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.36rem;
  display: inline-block;
  margin-top: -1rem;
}
#classCardHomePage .home_content_index {
  padding-top: 0.28rem;
  height: calc(100% - 1.11rem) !important;
}
#classCardHomePage .index_health #health.home_content {
  width: 100%;
  background: none;
  padding: 0;
  display: inline-block;
  height: 12.22rem !important;
  float: left;
}
#classCardHomePage .index_health .index_center_l {
  width: calc(50% - 0.42rem);
  float: left;
  position: relative;
}
#classCardHomePage .health_home_titleMore1 {
  position: absolute;
  right: 0;
  top: 0.54rem;
}
#classCardHomePage .health_home_titleMore2 {
  position: absolute;
  right: 0;
  top: 13.64rem;
}
#classCardHomePage .index_center_r {
  width: calc(50% - 0.42rem);
}
#classCardHomePage .index_health #health.home_content:nth-child(2) {
  margin-top: 0.83rem;
}
#classCardHomePage .index_health #health.home_content .inner_bg {
  padding: 0;
}
#classCardHomePage .index_health #health.home_content .inner_bg .navBar {
  font-size: 0.72rem;
  padding: 0.56rem 0 0.33rem 0.83rem;
  height: 0.8rem;
  line-height: 1;
}
#classCardHomePage .index_health #health .health_cont {
  margin: 0.2rem 0 0.3rem 0.2rem;
  padding: 0;
  height: calc(100% - 2.2rem) !important;
}
#classCardHomePage .index_health #health .health_cont .photoItem {
  width: 3.39rem;
  margin-right: 0.2rem;
  margin-bottom: 0rem;
  margin-top: 0.28rem;
}
#classCardHomePage .index_health #health .health_cont .photoItem .imgDiv {
  width: 2.11rem;
  height: 2.11rem;
  margin-top: 0;
  border: .08rem #f2f2f2 solid;
}
#classCardHomePage .index_health #health .health_cont .photoItem .step_number {
  width: 100%;
}
#classCardHomePage .index_health #health .firstClass,
#classCardHomePage .index_health #health .secondClass,
#classCardHomePage .index_health #health .thirdClass {
  width: 2.75rem;
  height: 2.75rem;
  top: -0.34rem;
}
#classCardHomePage .index_health #health .photoItem .studentName {
  font-size: 0.56rem;
  color: #444e6f;
}
#classCardHomePage .index_health #health .photoItem .step_number {
  font-size: 0.72rem;
  margin-top: 0.28rem;
}
#classCardHomePage .index_health #health .photoItem .step_number .step_number_s {
  font-size: 0.44rem;
  padding-left: 0;
}
