#tableItemDetil {
  color: #fff;
  overflow-y: auto;
  font-size: .72rem;
}
#tableItemDetil.home_content .inner_bg {
  padding: 0;
}
#tableItemDetil .black_bg {
  background-color: #323336;
  padding: 1.9rem;
  height: calc(100% - 2.22rem);
}
#tableItemDetil .tableItem {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
#tableItemDetil .tableItem td {
  border: 0.06rem #55575d solid;
  padding: .5rem 0;
}
#tableItemDetil .tableItem td span {
  font-size: .56rem;
  padding-top: .28rem;
}
#tableItemDetil .tableItem td span.class_name {
  font-size: .72rem;
  padding-top: .39rem;
}
