#tableItemDetil {
  background-color: #323336;
  color: #fff;
  overflow-y: auto;
  .tableItem {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    td{
      border: 2px #55575d solid;
      padding: 18px 0;
    }
  }
}