#addRecCourse{
  height: 100%;
  overflow-y: auto;
  .imgCont{
    height: 210px;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .bg{
    background-color: white;
    padding: 15px;
  }
  .tag{
    border: 1px #3672ED solid;
    color: #3672ED;
    font-size: 12px;
    padding: 0 7px;
    line-height: 18px;
    display: inline-block;
    float: right;
  }
  .topCont{
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
    .courseTime{
      margin-bottom: 8px;
      line-height: 20px;
    }
  }
  .title{
    font-size: 18px;
    margin-bottom: 12px;
  }
  .teacherInfo{
    margin-bottom: 10px;
    .item{
      margin-top: 20px;
    }
    img{
      width: 40px;
      height: 40px;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 15px;
    }
    .rightText{
      width: calc(~"100% - 55px");
      font-size: 14px;
      color: #999;
      .text_hidden{
        font-size: 15px;
        color: #333;
        margin-bottom: 6px;
      }
    }
  }
  .text{
    font-size: 14px;
    color: #666;
    line-height: 1.4;
  }
}