#comments {
  position: relative;
  overflow: hidden;
}
#comments .am-tabs-default-bar-tab {
  font-size: 16px;
}
#comments .am-list-body {
  background: none;
}
#comments .list-view-section-body {
  background-color: #fff;
}
#comments .am-list-item.am-input-item {
  height: 32px;
  min-height: 32px;
  margin: 10px 15px;
}
#comments .am-tabs-default-bar-tab-active {
  color: #f35454;
}
#comments .am-tabs-default-bar-tab::after,
#comments .am-list-line::after,
#comments .am-list-body::after {
  background: none!important;
}
#comments .am-tabs-default-bar-underline {
  border-color: #f35454;
}
#comments .am-list-item .am-input-control input {
  font-size: 15px;
}
#comments .good {
  padding: 10px 0;
}
#comments .good .am-list-content {
  font-size: 16px;
}
#comments .views .list-view-section-body {
  padding-left: 15px;
}
#comments .views .headPic {
  left: 0;
}
#comments .views .am-list-view-scrollview-content .am-list-content {
  width: 100%;
  font-size: 12px;
  color: #888;
}
#comments .views .am-list-view-scrollview-content .am-list-content .student_name {
  max-width: calc(100% - 100px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#comments .views .am-list-view-scrollview-content .am-list-content .am-list-brief {
  color: #000;
  overflow: visible;
  white-space: normal;
  font-size: 16px;
  margin-top: 0;
  word-break: break-all;
}
#comments .views .am-list-view-scrollview-content .am-list-content .time {
  float: right;
}
#comments .bottom_box {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  width: 3rem;
  height: 3rem;
}
#comments .bottom_input_box {
  width: 100%;
  position: absolute;
  left: 100%;
  bottom: 0px;
  height: 90px;
  border-top: 1px #f4f4f4 solid;
  background: white;
}
#comments .bottomBox {
  padding: 10px 15px;
  overflow: hidden;
  border-top: 1px #f4f4f4 solid;
}
#comments .bottomBox .bottomBox_left input {
  margin-right: 5px;
  width: 17px;
  height: 17px;
  vertical-align: bottom;
}
#comments .headPic {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#comments .likeImage {
  width: 3rem;
  height: 3rem;
}
#comments .like_box_after {
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 50%;
  position: relative;
}
#comments .like_box {
  width: 50px;
  height: 50px;
  background: #cccccc;
  border-radius: 50%;
  position: relative;
}
#comments .headBox {
  padding: 10px 15px;
}
#comments .headBox .comment_input {
  background-color: #f4f4f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 0;
  padding: 5px 10px;
  line-height: 22px;
  width: calc(100% - 87px);
}
#comments .headBox button {
  background: #73B6F5;
  color: #fff;
  padding: 5px 22px;
  border: none;
  line-height: 22px;
  border-radius: 4px;
  margin-left: 15px;
  max-width: 72px;
}
#comments .bottomBox_left {
  float: left;
  color: #666;
}
#comments .bottomBox_right {
  float: right;
  color: #999;
}
#comments .am-list-extra {
  font-size: 14px;
}
#comments .list-view-section-body > div {
  border-bottom: 1px #f4f4f4 solid !important;
}
