#comments .my-list {
  position: relative;
}
#comments .am-tabs-default-bar-tab-active {
  color: #f35454;
}
#comments .am-tabs-default-bar-tab::after,
#comments .am-list-line::after {
  background: none!important;
}
#comments .am-tabs-default-bar-underline {
  border-color: #f35454;
}
#comments .bottom_box {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#comments .bottom_input_box {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  background: white;
}
#comments .headPic {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#comments .likeImage {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#comments .like_box_after {
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 50%;
  position: relative;
}
#comments .like_box {
  width: 50px;
  height: 50px;
  background: #cccccc;
  border-radius: 50%;
  position: relative;
}
#comments .comment_input {
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #f4f4f4;
  margin: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#comments .bottomBox_left {
  float: left;
}
#comments .bottomBox_right {
  float: right;
}
#comments .am-list-extra {
  font-size: 14px;
}
