#comments{
  position: relative;
  overflow: hidden;
  .am-tabs-default-bar-tab{
    font-size: 16px;
  }
  .am-list-body{
    background: none;
  }
  .list-view-section-body{
    background-color: #fff;
  }
  .am-tabs-default-bar-tab-active{
    color: #f35454;
  }
  .am-tabs-default-bar-tab::after,.am-list-line::after,.am-list-body::after{
    background: none!important;
  }
  .am-tabs-default-bar-underline{
    border-color: #f35454;
  }
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .am-list-item .am-input-control input{
    font-size: 15px;
  }
  .good{
    padding: 10px 0;
    .am-list-content{
      font-size: 16px;
    }
  }
  .views{
    .am-list-view-scrollview-content{
     //padding-bottom: 125px;
      .am-list-content{
        width: 100%;
        font-size: 12px;
        color: #888;
        .student_name{
          max-width: calc(~"100% - 120px");
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .am-list-brief{
          color: #000;
          overflow:visible;
          white-space: normal;
          font-size: 16px;
        }
        .time{
          float: right;
        }
      }
    }
  }

  .bottom_box{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    width: 3rem;
    height: 3rem;

  }
  .bottom_input_box{
    width:100%;
    //position: absolute;
    //left:0px;
    //bottom:0px;
    height:125px;
    background: white;
    z-index: 99;
    //height: 125px;
  }
  .bottomBox{
    padding: 15px;
    overflow: hidden;
    border-top: 1px #f4f4f4 solid;
    .bottomBox_left{
      input{
        margin-right: 5px;
        width: 17px;
        height: 17px;
        vertical-align: bottom;
      }

    }
    .bottomBox_right{
      color: #666;
    }
  }

  .headPic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
  .likeImage{
    width:3rem;
    height:3rem;

  }
  .like_box_after{
    width:50px;
    height:50px;
    background: blue;
    border-radius: 50%;
    position: relative;
  }
  .like_box{
    width:50px;
    height:50px;
    background: #cccccc;
    border-radius: 50%;
    position: relative;
  }

  .comment_input{
    margin: 0 auto;
    margin-bottom:5px;
    background-color: #f4f4f4;
    margin: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .bottomBox_left{
    float: left;
  }
  .bottomBox_right{
    float:right;
  }
  .am-list-extra{
    font-size: 14px;
  }
  .list-view-section-body{
    &>div{
      border-bottom: 1px #f4f4f4 solid !important;
    }
  }
}
