#comments{
  position: relative;
  overflow: hidden;
  .am-list-body{
    background: none;
  }
  .list-view-section-body{
    background-color: #fff;
  }
  .am-tabs-default-bar-tab-active{
    color: #f35454;
  }
  .am-tabs-default-bar-tab::after,.am-list-line::after,.am-list-body::after{
    background: none!important;
  }
  .am-tabs-default-bar-underline{
    border-color: #f35454;
  }
  .am-list-view-scrollview-content{
    width: 100%;
  }
  .good{
    padding: 10px 0;
  }
  .views{
    overflow: hidden!important;
    .am-list-view-scrollview-content{
      position: static !important;
      height: calc(~"100% - 120px");
      overflow-y: auto;
      .am-list-body{

        height: auto !important;
        //height: calc(~"100% - 45px")!important;
      }
    }
  }

  .bottom_box{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    width: 3rem;
    height: 3rem;

  }
  .bottom_input_box{
    width:100%;
    position: absolute;
    left:0px;
    bottom:0px;
    background: white;
    z-index: 99;
    height: 125px;
  }
  .bottomBox{
    padding: 15px;
    overflow: hidden;
    border-top: 1px #f4f4f4 solid;
    .bottomBox_left{
      input{
        margin-right: 5px;
        width: 17px;
        height: 17px;
        vertical-align: bottom;
      }

    }
    .bottomBox_right{
      color: #666;
    }
  }

  .headPic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  }
  .likeImage{
    width:3rem;
    height:3rem;

  }
  .like_box_after{
    width:50px;
    height:50px;
    background: blue;
    border-radius: 50%;
    position: relative;
  }
  .like_box{
    width:50px;
    height:50px;
    background: #cccccc;
    border-radius: 50%;
    position: relative;
  }

  .comment_input{
    margin: 0 auto;
    margin-bottom:5px;
    background-color: #f4f4f4;
    margin: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .bottomBox_left{
    float: left;
  }
  .bottomBox_right{
    float:right;
  }
  .am-list-extra{
    font-size: 14px;
  }
  .list-view-section-body{
    &>div{
      border-bottom: 1px #f4f4f4 solid !important;
    }
  }
}
