.over_flow_auto{
    overflow: auto;
    padding:10px;
    text-align: center;
    position: relative;

}
.react_for_echarts{
    padding:10px;
}
.student_f_auto{
    width:100%
}
.student_f_left{
    position: absolute;
    left: 18px;
    top: 42px;
    font-size: 10px;
    color: #999;
}
.student_f_right{
    position: absolute;
    right: 10px;
    bottom: 12px;
    font-size: 10px;
    color: #999;
}
.student_cont{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.concentration_list{
    flex:1;
    height: 390px;
    border: 1px solid #eee;
    margin: 0 8px;
    padding:8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 4px 12px;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
}
.concentration_height{
    height: 38px;
}
.concentration_list2{
    flex-grow: 2;
}
.concentration_list2_1{
    flex:1;
}
.concentration_list2_line{
    width: 10px;
    display: inline-block;
    height: 90%;
    float: left;
    margin: 5% 0px;
}
.concentration_list2_line_l{
    background: #e8e8e8;
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    width: 1px;
}
.concentration_title{
    font-size: 18px;
    color: #333;
    padding: 10px 0;
}
.concentration_title2{
    font-size: 16px;
    color: #888;
    padding: 10px 0;
}
.concentration_title3{
    font-size: 24px;
}
.concentration_user_cont{
    margin: 0 auto;
    text-align: left;
}
.concentration_user{
    text-align: center;
    display: inline-block;
    margin: 8px;
    width: calc(25% - 16px);
}
.concentration_font{
    font-size: 15px;
    color: #555;
    line-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60px;
    white-space: nowrap;
}
.concentration_bottom{
    margin-bottom: 15px;
}
.concentration_top{
    margin-top: 10px;
}
.flex_justify {
    justify-content: center;
}
@media only screen and (min-width: 1025px) {
    .concentration_user img{
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}
@media only screen and (max-width: 1024px){
    .concentration_user img{
        width: 54px;
        height: 54px;
        border-radius: 100%;
    }
}