#addARTextbook {
  overflow: auto;
}
#addARTextbook .sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 17px;
  color: #666;
}
#addARTextbook .my_flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#addARTextbook .am-list-item .am-input-label {
  color: #666 !important;
}
#addARTextbook .am-list-line {
  border: 0 !important;
}
#addARTextbook .am-list-line::after {
  display: none;
}
#addARTextbook .imgTag {
  width: 5rem;
  height: 5rem;
  margin-right: 10px;
}
#addARTextbook .videoDiv {
  width: 5rem;
  height: 5rem;
  margin-right: 10px;
}
#addARTextbook .uploadAttech {
  width: 100px;
  height: 20px;
  background-color: #fff;
}
#addARTextbook .add_element {
  width: 100%;
}
#addARTextbook .uploadBtn {
  background: url("../imgs/addPic.png") no-repeat;
  font-size: 0;
  width: 5rem;
  height: 5rem;
  margin-left: 24px;
  background-size: 100%;
  border: 0;
}
#addARTextbook .addARTextbookTable {
  text-align: center;
  font-size: 17px;
  color: #638bb7;
  line-height: 30px;
  padding: 7px 15px;
}
#addARTextbook .addARTextbookTable .addBtn {
  margin: 0 auto;
  position: relative;
  width: 96px;
}
#addARTextbook .addARTextbookTable .icon {
  font-size: 30px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: -1px;
}
#addARTextbook .add_title {
  background-color: #f4f4f4;
}
