#addARTextbook {
  overflow: auto;
}
#addARTextbook .imgTag {
  width: 50px;
}
#addARTextbook .videoDiv {
  width: 100px;
}
#addARTextbook .uploadAttech {
  width: 100px;
  height: 20px;
  background-color: #fff;
}
#addARTextbook .add_element {
  width: 100%;
  margin: 10px auto;
}
