
::-webkit-scrollbar{
    width: 8px;
    height:12px;
} /* 这是针对缺省样式 (必须的) */


::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 9px;
    -webkit-border-radius: 9px;
} /* 滑块颜色 */

::-webkit-scrollbar-button{
    background-color: initial;
}
#addARTextbook {
    height: 100%;

    .cont{
        overflow-y: auto;
        height: calc(~"100% - 77px");
    }

    .sameBack{
        background-color: #fff;
        padding: 15px;
        font-size: 17px;
        color: #666;
    }
    .my_flex{
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .am-list-item .am-input-label{
        color: #666 !important;
    }
    .am-list-line{
        border: 0 !important;
    }
    .am-list-line::after{
        display: none;
    }
    .imgTag {
        width: 68px;
        height: 68px;
        margin-right: 15px;
        background-color: #eee;

    }
    .videoDiv {
        width: 68px;
        height: 68px;
        margin-right: 15px;
        margin-bottom:15px;
        background-color: #eee;
    }
    .textTitle{
        width: 85px;
        margin-right: 4px;
        .uploadSupport{
            font-size: 14px;
            color: #888;
        }
    }
    .videoCont{
        width: calc(~"100% - 89px");
        -webkit-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
    .uploadAttech {
        width: 100px;
        height: 20px;
        background-color:#fff;
    }
    .uploadBtn{
        background: url("../imgs/addPic.png") no-repeat;
        font-size: 0;
        width: 68px;
        height: 68px;
        background-size: 100%;
        border: 0;
    }
    .addARTextbookTable{
        text-align: center;
        font-size: 17px;
        color: #638bb7;
        line-height: 30px;
        padding: 7px 15px;
        .addBtn{
            margin: 0 auto;
            position: relative;
            width: 60px;
            padding-left: 20px;
        }
        .icon{
            font-size: 30px;
            padding-right: 5px;
            position: absolute;
            left: 0;
            top:0;
        }
        .am-icon-md{
            width: 18px;
            height: 18px;
            margin-right: 3px;
            position: absolute;
            left: 0;
            top:5px
        }
    }
    .add_title{
        background-color: #f4f4f4;
    }
    .fileBack{
        width: 68px;
        height: 68px;
        background: url("../imgs/UpdateART.png") no-repeat;
        background-size: 100%;
        margin-right: 15px;
        &.pdfBack{
            background: url("../imgs/pdfIcon.png") no-repeat;
            background-size: 100%;
            margin-bottom: 15px;
        }
    }

}