(node) util.print is deprecated. Use console.log instead.
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: initial;
}
#addARTextbook {
  height: 100%;
}
#addARTextbook .cont {
  overflow-y: auto;
  height: calc(100% - 77px);
}
#addARTextbook .sameBack {
  background-color: #fff;
  padding: 15px;
  font-size: 16px;
  color: #666;
}
#addARTextbook .my_flex {
  flex-wrap: wrap;
}
#addARTextbook .am-list-item .am-input-label {
  color: #666 !important;
  font-size: 16px;
}
#addARTextbook .am-list-line {
  border: 0 !important;
}
#addARTextbook .am-list-line::after {
  display: none;
}
#addARTextbook .imgTag {
  width: 68px;
  height: 68px;
  margin-right: 15px;
  background-color: #eee;
}
#addARTextbook .calm {
  margin-top: 15px;
  position: relative;
}
#addARTextbook .calm .am-list-item .am-input-control input {
  width: 88%;
}
#addARTextbook .videoDiv {
  width: 68px;
  height: 68px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #eee;
}
#addARTextbook .textTitle {
  width: 85px;
  margin-right: 4px;
}
#addARTextbook .textTitle .uploadSupport {
  font-size: 14px;
  color: #888;
}
#addARTextbook .videoCont {
  width: calc(100% - 89px);
}
#addARTextbook .videoCont video {
  height: 100%;
  max-width: 100%;
}
#addARTextbook .uploadAttech {
  width: 100px;
  height: 20px;
  background-color: #fff;
}
#addARTextbook .uploadBtn {
  background: url("../imgs/addPic.png") no-repeat;
  font-size: 0;
  width: 68px;
  height: 68px;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
#addARTextbook .addARTextbookTable {
  text-align: center;
  font-size: 16px;
  color: #638bb7;
  line-height: 30px;
  padding: 7px 15px;
}
#addARTextbook .addARTextbookTable .addBtn {
  margin: 0 auto;
  position: relative;
  width: 110px;
  padding-left: 20px;
}
#addARTextbook .addARTextbookTable .icon {
  font-size: 30px;
  padding-right: 5px;
  position: absolute;
  left: 0;
  top: 0;
}
#addARTextbook .addARTextbookTable .am-icon-md {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  position: absolute;
  left: 0;
  top: 5px;
}
#addARTextbook .add_title {
  background-color: #fff;
  font-size: 16px;
  position: relative;
  margin-top: 15px;
}
#addARTextbook .fileBack {
  width: 68px;
  height: 68px;
  background: url("../imgs/UpdateART.png") no-repeat;
  background-size: 100%;
  margin-right: 15px;
}
#addARTextbook .fileBack.pdfBack {
  background: url("../imgs/pdfIcon.png") no-repeat;
  background-size: 100%;
  margin-bottom: 15px;
}
#addARTextbook .fileBack.docBack {
  background: url("../imgs/docIcon.png") no-repeat;
  background-size: 100%;
  margin-bottom: 15px;
}
#addARTextbook .fileBack.xlsBack {
  background: url("../imgs/xlsIcon.png") no-repeat;
  background-size: 100%;
  margin-bottom: 15px;
}
#addARTextbook .fileBack.pptBack {
  background: url("../imgs/pptIcon.png") no-repeat;
  background-size: 100%;
  margin-bottom: 15px;
}
#addARTextbook .am-list-item .am-input-control input {
  font-size: 16px;
}
#addARTextbook .videoCont > div {
  position: relative;
  text-align: center;
}
#addARTextbook .del_ar {
  width: 18px;
  height: 18px;
  background: url("../imgs/delPic.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 2px;
}
#addARTextbook .tagCont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f4f4f4;
}
#addARTextbook .tagInput {
  position: relative;
  margin-bottom: 10px;
}
#addARTextbook .tagInput .searchIcon {
  width: 15px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../imgs/icon_search.png") no-repeat;
  background-size: 100%;
  font-size: 0;
}
#addARTextbook .tagInput .am-list-item .am-input-control input {
  width: 88%;
}
#addARTextbook .icon_delete {
  background: url("../imgs/del_group.png") no-repeat;
  font-size: 0;
  width: 34px;
  height: 32px;
  background-size: 100%;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#addARTextbook .classTags {
  padding: 0 10px;
}
#addARTextbook .classTags .am-tag-normal::before,
#addARTextbook .classTags .am-tag-active::before {
  display: none;
}
#addARTextbook .classTags .am-tag {
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px #fff solid;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
#addARTextbook .classTags .am-tag-normal {
  border-radius: 2px;
  margin-left: 5px;
}
#addARTextbook .classTags .am-tag-text {
  font-size: 13px;
  padding: 0 5px;
}
#addARTextbook .classTags .am-tag-active {
  border: 1px #2B84EF solid;
  color: #2B84EF;
}
#addARTextbook .spanTag {
  border: 1px #2B84EF solid;
  color: #2B84EF;
  padding: 0 10px;
  font-size: 13px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}
#addARTextbook .tagBtn {
  background: url("../imgs/tagBack.png") no-repeat;
  width: 36px;
  height: 36px;
  background-size: 100%;
  border: 0;
  display: inline-block;
}
#addARTextbook .del_tag {
  width: 16px;
  height: 16px;
  background: url("../imgs/delPic.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 9 !important;
}
