#addARTextbook {
    height: 100%;
    .cont{
        overflow-y: auto;
        height: calc(~"100% - 77px");
    }

    .sameBack{
        background-color: #fff;
        padding: 15px;
        font-size: 17px;
        color: #666;
    }
    .my_flex{
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .am-list-item .am-input-label{
        color: #666 !important;
    }
    .am-list-line{
        border: 0 !important;
    }
    .am-list-line::after{
        display: none;
    }
    .imgTag {
        width: 68px;
        height: 68px;
        margin-right: 10px;

    }
    .videoDiv {
        width: 68px;
        height: 68px;
        margin-right: 10px;
        margin-bottom:10px;
    }
    .textTitle{
        width: 70px;
        margin-right: 24px;
    }
    .videoCont{
        width: calc(~"100% - 94px");
    }
    .uploadAttech {
        width: 100px;
        height: 20px;
        background-color:#fff;
    }
    .uploadBtn{
        background: url("../imgs/addPic.png") no-repeat;
        font-size: 0;
        width: 68px;
        height: 68px;
        background-size: 100%;
        border: 0;
    }
    .addARTextbookTable{
        text-align: center;
        font-size: 17px;
        color: #638bb7;
        line-height: 30px;
        padding: 7px 15px;
        .addBtn{
            margin: 0 auto;
            position: relative;
            width: 96px;
        }
        .icon{
            font-size: 30px;
            padding-right: 5px;
            position: absolute;
            left: 0;
            top:-1px;
        }
    }
    .add_title{
        background-color: #f4f4f4;
    }
    .fileBack{
        width: 68px;
        height: 68px;
        background: url("../imgs/UpdateART.png") no-repeat;
        background-size: 100%;
        margin-right: 10px;
    }
}