#ARTextbookList {
  overflow: auto;
}
#ARTextbookList .am-list-view-scrollview-content {
  width: 100%;
}
#ARTextbookList .am-list-body {
  border: 0 !important;
}
#ARTextbookList .classInfo {
  padding: 0 15px;
}
#ARTextbookList .classInfo .line_public {
  padding: 15px 0 10px;
}
#ARTextbookList .classInfo .dataName {
  font-size: 17px;
  color: #333;
  line-height: 28px;
}
#ARTextbookList .classInfo .creatTime {
  font-size: 16px;
  color: #666;
  padding: 5px 0;
  line-height: 30px;
  margin-top: 4px;
}
#ARTextbookList .classInfo .am-button-primary {
  background-color: #fff;
  border: 0;
}
#ARTextbookList .classInfo .am-button::before {
  display: none;
}
#ARTextbookList .classInfo .publishBtn {
  position: absolute;
  right: 6px;
  top: 15px;
  color: #F56A55;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: 1px #F56A55 solid;
}
#ARTextbookList .classInfo .publishBtn.published {
  border: 0;
  color: #638bb7;
  padding: 0;
}
#ARTextbookList .classInfo .publishBtn.am-button-active {
  background-color: #fff;
}
#ARTextbookList .classInfo .textCOnt {
  width: calc(100% - 64px);
  box-sizing: border-box;
  padding-left: 40px;
  background: url("../imgs/arListIcon.png") no-repeat 0 6px;
  background-size: 32px auto;
}
#ARTextbookList .classInfo .amList_cont {
  height: 30px;
  margin-top: 36px;
  width: 64px;
}
