#ARTextbookList {
    overflow: auto;
    .am-list-view-scrollview-content{
        width: 100%;
    }
    .am-list-body{
        border: 0 !important;
    }
    .classInfo{
        padding: 15px;
        .dataName{
            font-size: 17px;
            color: #333;
            line-height: 28px;
        }
        .creatTime{
            font-size: 16px;
            color: #666;
            padding: 5px 0;
            line-height: 30px;
        }
        .am-button-primary{
            background-color: #fff;
            border: 0;
        }
        .am-button::before{
            display: none;
        }
        .publishBtn{
            position: absolute;
            right: 15px;
            top:16px;
            color: #fff;
            background-color: #F56A55;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: 14px;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
        }
        .textCOnt{
            width: calc(~"100% - 64px");
        }
        .amList_cont{
            height: 30px;
            margin-top: 34px;
        }
    }
}