#ARTextbookList {
    overflow: auto;
    .am-list-view-scrollview-content{
        width: 100%;
    }
    .am-list-body{
        border: 0 !important;
    }
    .classInfo{
        padding: 0 15px;
        .line_public{
            padding: 15px 0 10px;
        }
        .dataName{
            font-size: 16px;
            color: #333;
            line-height: 28px;
        }
        .creatTime{
            font-size: 14px;
            color: #666;
            padding: 5px 0;
            line-height: 30px;
            margin-top: 0px;
        }
        .am-button{
          cursor: pointer;
        }
        .am-button-primary{
            background-color: #fff;
            border: 0;

        }
        .am-button::before{
            display: none;
        }
        .publishBtn{
            position: absolute;
            right: 6px;
            top:15px;
            color: #F56A55;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: 14px;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            border: 1px #F56A55 solid;
            &.published{
                border: 0;
                color: #638bb7;
                padding: 0;
            }
            &.am-button-active{
                background-color: #fff;
            }
        }

        .textCOnt{
            width: calc(~"100% - 64px");
            box-sizing: border-box;
            padding-left: 40px;
            background: url("../imgs/arListIcon.png") no-repeat 0 5px;
            background-size: 32px auto;
        }
        .amList_cont{
            height: 30px;
            margin-top: 36px;
            width: 64px;
        }

    }

}