(node) util.print is deprecated. Use console.log instead.
#groupList {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#groupList .am-list-item .am-list-line .am-list-content {
  padding: 15px 0;
}
#groupList .am-list-item .am-list-line .am-list-content img {
  width: 44px;
  height: 44px;
  margin-left: 20px;
}
#groupList .gray_page {
  color: #666;
  font-size: 14px;
}
#groupList .am-list-item .am-list-line .am-list-content {
  font-size: 16px;
}
