#groupList{
  .am-list-item .am-list-line .am-list-content{
    padding: 15px 0;
    img{
      width: 44px;
      height:44px;
      margin-left: 20px;
    }
  }
  .gray_page{
    color: #666;
    font-size: 14px;
  }
}