<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
(node) util.print is deprecated. Use console.log instead.
>>>>>>> 81c5fdb953cd728e4e599735b04a782dc1d0c9eb
#groupList {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
>>>>>>> 468847c402f2d1816c7d265cd1f9044be10b9588
#groupList .am-list-item .am-list-line .am-list-content {
  padding: 15px 0;
}
#groupList .am-list-item .am-list-line .am-list-content img {
  width: 44px;
  height: 44px;
  margin-left: 20px;
}
#groupList .gray_page {
  color: #666;
  font-size: 14px;
}
