#UpdateARTextbook {
    overflow: auto;
    position: relative;
    .imgDiv {
        width: 50px;
    }
    .videoDiv {
        width: 100px;
    }
    .uploadAttech {
        width: 100px;
        height: 20px;
        background-color:#fff;
    }
    .mt3PX {
        margin: 20px 0;
    }
   
}