#UpdateARTextbook {
  overflow: auto;
  position: relative;
  background: #fff;
}
#UpdateARTextbook .imgDiv {
  width: 100%;
  height: 100%;
}
#UpdateARTextbook .videoDiv {
  width: 100%;
  height: 100%;
}
#UpdateARTextbook .uploadAttech {
  width: 68px;
  height: 68px;
}
#UpdateARTextbook .i_uploadAttech {
  width: 68px;
  height: 68px;
  border: none;
  padding: 0;
  position: relative;
  border-radius: 2px ;
  display: inline-block;
  background: #eee;
  margin-right: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
#UpdateARTextbook .i_uploadAttech.pdfDiv {
  background: url("../imgs/pdfIcon.png");
  background-size: 100%;
}
#UpdateARTextbook .i_uploadAttech div {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  border-radius: 0 0 2px 2px;
  text-align: center;
}
#UpdateARTextbook .mt3PX {
  margin: 20px 0;
}
#UpdateARTextbook .item_list20 {
  padding: 5px 15px 0 15px;
}
#UpdateARTextbook .am-list-item .am-input-label.am-input-label-5 {
  color: #666 !important;
}
#UpdateARTextbook .am-list-line:after {
  background: #fff;
}
#UpdateARTextbook .upload_file {
  background: url("../imgs/UpdateART.png") no-repeat;
  background-size: 100%;
}
#UpdateARTextbook .div68 {
  min-height: 68px;
  flex: 1;
}
#UpdateARTextbook .am-list-item:not(:last-child) .am-list-line {
  border-bottom: none;
}
#UpdateARTextbook .submitBtn .am-button {
  border: none;
}
#UpdateARTextbook .addCurriculum_cont {
  height: calc(100% - 77px);
  overflow-x: hidden;
  overflow-y: auto;
}
#UpdateARTextbook .fileBack {
  width: 68px;
  height: 68px;
  background: url("../imgs/UpdateART.png") no-repeat;
  background-size: 100%;
  margin-right: 15px;
}
