#teachingSpaceTeacher{
  height: 100%;
  overflow-y: auto;
  .teacher-item{
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    color: #333;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    background: #f5f5f5;
  }
  ul.teacherUl{
    background: #fff;
    padding: 0 15px 15px 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: 25%;
      text-align: center;
      line-height: 1;
      margin: 15px 0 0 0;
      font-size: 13px;
      color: #666;
    }
  }
  .Icon-teacher{
    width: 52px;
    height: 42px;
    display: block;
    margin: 0 auto 12px auto;
  }
  /*审批*/
  .Icon-teacher-approval{
    background: url("../images/icon-approval.png") no-repeat;
    background-size: 100% 100%;
  }
  /*考勤*/
  .Icon-teacher-attendance{
    background: url("../images/icon-attendance.png") no-repeat;
    background-size: 100% 100%;
  }
  /*蚁盘*/
  .Icon-teacher-antDisk{
    background: url("../images/icon-antDisk.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启班级课堂*/
  .Icon-teacher-classroom{
    background: url("../images/icon-classroom.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启直播*/
  .Icon-teacher-live{
    background: url("../images/icon-live.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启云课堂*/
  .Icon-teacher-eSchool{
    background: url("../images/icon-eSchool.png") no-repeat;
    background-size: 100% 100%;
  }
  /*备课计划*/
  .Icon-teacher-plan{
    background: url("../images/icon-plan.png") no-repeat;
    background-size: 100% 100%;
  }
  /*资源库*/
  .Icon-teacher-repository{
    background: url("../images/icon-repository.png") no-repeat;
    background-size: 100% 100%;
  }
  /*题库*/
  .Icon-teacher-questionBank{
    background: url("../images/icon-questionBank.png") no-repeat;
    background-size: 100% 100%;
  }
  /*调查*/
  .Icon-teacher-survey{
    background: url("../images/icon-survey.png") no-repeat;
    background-size: 100% 100%;
  }
  /*手环户外助手*/
  .Icon-teacher-bracelet{
    background: url("../images/icon-bracelet.png") no-repeat;
    background-size: 100% 100%;
  }
  /*名师空间*/
  .Icon-teacher-famousTeacher{
    background: url("../images/icon-famousTeacher.png") no-repeat;
    background-size: 100% 100%;
  }
  /*录制微课*/
  .Icon-teacher-SmallClass{
    background: url("../images/icon-SmallClass.png") no-repeat;
    background-size: 100% 100%;
  }
  /*课堂回顾统计*/
  .Icon-teacher-ClassReview{
    background: url("../images/icon-ClassReview.png") no-repeat;
    background-size: 100% 100%;
  }
  /*手环数据统计*/
  .Icon-teacher-braceletData{
    background: url("../images/icon-braceletData.png") no-repeat;
    background-size: 100% 100%;
  }
  /*布置作业*/
  .Icon-teacher-AssignHomework{
    background: url("../images/icon-AssignHomework.png") no-repeat;
    background-size: 100% 100%;
  }
  /*作业统计*/
  .Icon-teacher-homeworkStatistics{
    background: url("../images/icon-homeworkStatistics.png") no-repeat;
    background-size: 100% 100%;
  }
  /*作业表情统计*/
  .Icon-teacher-expression{
    background: url("../images/icon-expression.png") no-repeat;
    background-size: 100% 100%;
  }
  /*批改作业*/
  .Icon-teacher-homeworkCorrecting{
    background: url("../images/icon-homeworkCorrecting.png") no-repeat;
    background-size: 100% 100%;
  }
  /*组卷*/
  .Icon-teacher-testPaper{
    background: url("../images/icon-testPaper.png") no-repeat;
    background-size: 100% 100%;
  }
  /*考试*/
  .Icon-teacher-examination{
    background: url("../images/icon-examination.png") no-repeat;
    background-size: 100% 100%;
  }
    /*教务管理*/
  .Icon-teacher-EducationManage{
    background: url("../images/icon-EducationManage.png") no-repeat;
    background-size: 100% 100%;
  }
  /*学生课堂回顾*/
  .Icon-student-ClassReview{
    background: url("../images/icon-studentClassReview.png") no-repeat;
    background-size: 100% 100%;
  }
  /*学生问卷调查*/
  .Icon-student-Survey{
    background: url("../images/icon-studentSurvey.png") no-repeat;
    background-size: 100% 100%;
  }
  /*学生直播回顾*/
  .Icon-student-live{
    background: url("../images/icon-studentLive.png") no-repeat;
    background-size: 100% 100%;
  }
  /*学生出入学校*/
  .Icon-student-turnover{
    background: url("../images/icon-studenttTurnover.png") no-repeat;
    background-size: 100% 100%;
  }


}