#teachingSpaceTeacher{
  .teacher-item{
    margin: 15px 0;
  }
  h1{
    font-size: 15px;
    margin: 0 0 15px 0;
  }
  ul.teacherUl{
    li{
      width: 25%;
      text-align: center;
      line-height: 1;
      margin: 0 0 15px 0;
    }
  }
  .Icon-teacher{
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  /*审批*/
  .Icon-teacher-approval{
    background: url("../images/icon-approval.png") no-repeat;
    background-size: 100% 100%;
  }
  /*考勤*/
  .Icon-teacher-attendance{
    background: url("../images/icon-attendance.png") no-repeat;
    background-size: 100% 100%;
  }
  /*蚁盘*/
  .Icon-teacher-antDisk{
    background: url("../images/icon-antDisk.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启班级课堂*/
  .Icon-teacher-classroom{
    background: url("../images/icon-classroom.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启直播*/
  .Icon-teacher-live{
    background: url("../images/icon-live.png") no-repeat;
    background-size: 100% 100%;
  }
  /*开启云课堂*/
  .Icon-teacher-eSchool{
    background: url("../images/icon-eSchool.png") no-repeat;
    background-size: 100% 100%;
  }
  /*备课计划*/
  .Icon-teacher-plan{
    background: url("../images/icon-plan.png") no-repeat;
    background-size: 100% 100%;
  }
  /*资源库*/
  .Icon-teacher-repository{
    background: url("../images/icon-repository.png") no-repeat;
    background-size: 100% 100%;
  }
  /*题库*/
  .Icon-teacher-questionBank{
    background: url("../images/icon-questionBank.png") no-repeat;
    background-size: 100% 100%;
  }
  /*调查*/
  .Icon-teacher-survey{
    background: url("../images/icon-survey.png") no-repeat;
    background-size: 100% 100%;
  }
  /*手环户外助手*/
  .Icon-teacher-bracelet{
    background: url("../images/icon-bracelet.png") no-repeat;
    background-size: 100% 100%;
  }
  /*名师空间*/
  .Icon-teacher-famousTeacher{
    background: url("../images/icon-famousTeacher.png") no-repeat;
    background-size: 100% 100%;
  }
  /*录制课件视频*/
  .Icon-teacher-videoRecording{
    background: url("../images/icon-videoRecording.png") no-repeat;
    background-size: 100% 100%;
  }
  /*录制微课*/
  .Icon-teacher-SmallClass{
    background: url("../images/icon-SmallClass.png") no-repeat;
    background-size: 100% 100%;
  }
  /*课堂回顾统计*/
  .Icon-teacher-ClassReview{
    background: url("../images/icon-ClassReview.png") no-repeat;
    background-size: 100% 100%;
  }
  /*手环数据统计*/
  .Icon-teacher-braceletData{
    background: url("../images/icon-braceletData.png") no-repeat;
    background-size: 100% 100%;
  }
  /*布置作业*/
  .Icon-teacher-AssignHomework{
    background: url("../images/icon-AssignHomework.png") no-repeat;
    background-size: 100% 100%;
  }
  /*作业统计*/
  .Icon-teacher-homeworkStatistics{
    background: url("../images/icon-homeworkStatistics.png") no-repeat;
    background-size: 100% 100%;
  }
  /*作业表情统计*/
  .Icon-teacher-expression{
    background: url("../images/icon-expression.png") no-repeat;
    background-size: 100% 100%;
  }
  /*批改作业*/
  .Icon-teacher-homeworkCorrecting{
    background: url("../images/icon-homeworkCorrecting.png") no-repeat;
    background-size: 100% 100%;
  }
  /*组卷*/
  .Icon-teacher-testPaper{
    background: url("../images/icon-testPaper.png") no-repeat;
    background-size: 100% 100%;
  }
  /*考试*/
  .Icon-teacher-examination{
    background: url("../images/icon-examination.png") no-repeat;
    background-size: 100% 100%;
  }
    /*教务管理*/
  .Icon-teacher-EducationManage{
    background: url("../images/icon-EducationManage.png") no-repeat;
    background-size: 100% 100%;
  }

}