#homeWorkAnalysis {
  height:100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
    .understanding_date, .understanding_class{
      position:relative;
      font-size: 18px;
    }
    .understanding_date::before, .understanding_class::before{
        content: '';
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 15px;
        width: 100%;
        height: 1PX;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    .understanding_class::before{
      left:0;
    }
    .understanding_class span{
      color: #888;
      font-size: 16px;
    }
    .echarts_wrap{
      padding:15px 0;
    }
    .student_table{
      width: 100%;
      text-align: center;
    }
  .student_table thead{
    background: #e8e8e8;
    border-radius: 4px 4px 0 0;
  }
  .student_table thead tr td{
    padding: 10px 4px;
    min-width: 46px;
  }
  .student_table tr td, .subject_content{
    position: relative;
  }
  .student_table tr td::before, .subject_content::before{
    content: '';
    position: absolute;
    background-color: #d0d0d0;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .subject_content{
    padding: 0 0 10px 0;
  }
  .subject_title{
    background: #f7f7f7;
    padding: 10px 0;
    text-indent: 10px;
  }
  .text_chart{
    text-align: center;
    padding-bottom:16px;
    span{
      padding-right:20px;
      font-size:14px;
      i{
        color:#5793f3;
      }
    }
  }

}