#waterWorkContent .water {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
}
#waterWorkContent #tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#waterWorkContent #tab-bar .demoName {
  height: 40px;
}
#waterWorkContent #tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
