(node) util.print is deprecated. Use console.log instead.
#curriculumSchedule .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#curriculumSchedule .addBunton img {
  width: 100%;
}
#curriculumSchedule .am-list-body {
  border: none;
}
#curriculumSchedule .curriculum_cont {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#curriculumSchedule .curriculum_cont li {
  padding: 10px 0;
}
#curriculumSchedule .curriculum_cont li div.list span {
  margin-left: 20px;
  font-size: 16px;
}
#curriculumSchedule .curriculum_cont li div.list span:first-child {
  margin-left: 0;
}
#curriculumSchedule .curriculum_cont li .text_cont1 {
  max-width: 28%;
}
#curriculumSchedule .curriculum_cont li .text_cont2 {
  max-width: 68%;
}
#curriculumSchedule .curriculum_cont li .text_cont3 {
  max-width: 100%;
}
#curriculumSchedule .amend_btn {
  float: right;
  background: #f55d45;
  line-height: 24px;
  padding: 0 15px;
  font-size: 1rem !important;
  margin-top: 10px;
  color: #fff;
  border-radius: 2px;
}
#curriculumSchedule .lineList,
#curriculumSchedule .list_high,
#curriculumSchedule .add_title {
  line-height: 36px;
  height: 36px;
}
#curriculumSchedule .delete {
  color: #F56A55;
  font-size: 1rem;
  margin-left: 20px;
}
#curriculumSchedule .am-button-small {
  background-color: #fff;
  height: 44px;
  line-height: 44px;
  border: none !important;
}
#curriculumSchedule .am-button-small:before {
  border: 0;
}
#curriculumSchedule .color_6 {
  color: #333;
  line-height: 32px;
  font-weight: bold;
}
#curriculumSchedule .color_7 {
  color: #333;
}
#curriculumSchedule .color_8 {
  color: #888;
}
#curriculumSchedule .no_curriculum {
  color: #888;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}
#curriculumSchedule .bottom_15 {
  margin-bottom: 15px;
}
#curriculumSchedule li div .bottom_15:last-child {
  margin-bottom: 0;
}
