(node) util.print is deprecated. Use console.log instead.
#getClassRoomList {
  font-size: 17px;
}
#getClassRoomList .search-nav {
  background: #fff;
  border-top: 9px #efeff4 solid;
  border-right: 15px solid #efeff4;
  border-bottom: 9px solid #efeff4;
  border-left: 15px solid #efeff4;
  position: relative;
}
#getClassRoomList .search-nav i {
  background: url("../../imgs/search-icon.png") no-repeat center center #ffffff;
  font-size: 0;
  width: 20px;
  height: 34px;
  background-size: 15px 19px;
  float: left;
  padding-left: 8px;
}
#getClassRoomList .search-nav input {
  z-index: 2;
  width: calc(100% - 58px);
  text-align: left;
  display: block;
  color: #000;
  font-size: 15px;
  background-color: #fff;
  border: 0;
  padding: 8px 30px 6px 0px;
  height: 20px;
  line-height: 20px;
  border-radius: 0 !important;
}
#getClassRoomList .search-nav .close {
  position: absolute;
  background: url("../../imgs/icon-close.png") no-repeat;
  width: 16px;
  height: 16px;
  right: 4px;
  top: 9px;
  background-size: 16px;
}
#getClassRoomList .textOver {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#getClassRoomList .whiteBack {
  background-color: #fff;
}
#getClassRoomList .am-list-body::before,
#getClassRoomList .am-list-body::after {
  background: none;
}
#getClassRoomList .am-pull-to-refresh-content-wrapper {
  height: 100%;
  overflow-y: auto;
}
#getClassRoomList .am-pull-to-refresh-indicator {
  font-size: 1rem !important;
}
#getClassRoomList .am-list-body {
  border: 0;
}
#getClassRoomList .tableDiv {
  position: relative;
}
#getClassRoomList .tableDiv .am-card-body {
  min-height: 1.5rem !important;
  color: #888 !important;
}
#getClassRoomList .tableDiv .am-card-footer {
  margin-bottom: 1rem;
}
#getClassRoomList .tableDiv .calmCardUnbind {
  background: #f55d45;
  color: #fff !important;
  padding: 0 15px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
  line-height: 24px;
}
#getClassRoomList .tableDiv .classInfo {
  position: relative;
  padding: 0;
  line-height: 24px;
}
#getClassRoomList .tableDiv .classInfo .textOver {
  width: calc(100% - 70px);
  color: #a9a9a9;
  font-size: 16px;
}
#getClassRoomList .tableDiv .classroom {
  color: #464646;
}
#getClassRoomList .tableDiv .grade {
  color: #a9a9a9;
  font-size: 15px;
  padding-left: 15px;
}
#getClassRoomList .tableDiv .noomCardUnbind {
  color: #ff144e;
}
#getClassRoomList .tableDiv .liName {
  font-size: 30px;
}
#getClassRoomList .addModel {
  box-sizing: border-box;
  padding: 20px 0px;
  position: relative;
}
#getClassRoomList .addModel .bindGrade {
  padding: 4px 0;
}
#getClassRoomList .addModel .am-checkbox-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#getClassRoomList .addModel .am-checkbox-agree .am-checkbox-agree-label {
  line-height: 1.7;
}
#getClassRoomList .addModel .am-list .am-list-body::before {
  display: none !important;
}
#getClassRoomList .addModel .am-list .am-list-body::after {
  display: none !important;
}
#getClassRoomList .addModel .am-list .am-list-body {
  background: transparent;
}
#getClassRoomList .addModel .am-list .am-list-body .macAddress {
  margin-bottom: 1rem;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item {
  background: #e4e4e4;
  padding: 0;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line {
  padding: 0 20px;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-content {
  font-size: 17px;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  color: #676767;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-content .am-list-brief {
  font-size: 1.4rem;
  color: #a2a2a2;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-extra .am-radio.am-radio-checked {
  height: 100%;
}
#getClassRoomList .addModel .am-list .am-list-body .chooseResult .am-list-item .am-list-line .am-list-extra .am-radio-inner {
  top: 45%;
  transform: translateY(-50%);
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-item .am-input-label {
  color: #3c3c3c;
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-item .am-input-control {
  line-height: 25px;
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-item .am-input-control input {
  color: #3c3c3c;
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-line::after {
  height: 0px;
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-line .am-input-label.am-input-label-5 {
  width: auto !important;
  position: relative;
  padding-right: 15px;
}
#getClassRoomList .addModel .am-list .am-list-body .am-list-line .am-input-control input {
  width: 88% !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#getClassRoomList .addModel .chooseResult {
  height: 300px;
  overflow: auto;
}
#getClassRoomList .addModel .close {
  font-size: 1.5em;
  background: #fff;
  color: #e94f4f;
}
#getClassRoomList .addModel > h1 {
  margin-bottom: 50px;
}
#getClassRoomList .addModel .macAddress {
  position: relative;
}
#getClassRoomList .addModel .macAddress .scanIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#getClassRoomList .addModel .classroomName,
#getClassRoomList .addModel .gradeName {
  position: relative;
}
#getClassRoomList .addModel .classroomName .redStar,
#getClassRoomList .addModel .gradeName .redStar {
  color: red;
  font-size: 22px;
  position: absolute;
  right: 2px;
  top: 2px;
}
#getClassRoomList .addModel .classroomName .stIcon,
#getClassRoomList .addModel .gradeName .stIcon {
  width: 18px;
  height: 28px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -12px;
}
#getClassRoomList .addModel .classroomName .stIcon img,
#getClassRoomList .addModel .gradeName .stIcon img {
  width: 100%;
}
#getClassRoomList .addModel .bottomBox {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#getClassRoomList .addModel .bottomBox span {
  flex: 1;
  text-align: center;
  font-size: 17px;
  padding: 1rem;
  display: inline-block;
}
#getClassRoomList .addModel .bottomBox .bind {
  background: #e94f4f;
  color: #fff;
}
#getClassRoomList .addModel .bottomBox .bind:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d24747;
}
#getClassRoomList .am-list-line::after {
  background: transparent;
}
#getClassRoomList .classroom_subject {
  padding-bottom: 10px;
}
#getClassRoomList .am-list-body div:not(:last-child) .am-list-line {
  border-bottom: transparent;
}
#getClassRoomList .edit_coordinateLi {
  background: #F5F5F5;
  padding: 15px 0 13px 15px;
}
#getClassRoomList .edit_coordinate {
  border-radius: 4px;
  padding: 0 10px;
  color: #3672ed;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  background: url("../../imgs/edit_coordinate.png") no-repeat;
  background-size: 18px ;
  text-indent: 15px;
}
#getClassRoomList .grade-left {
  width: 72px;
  display: inline-block;
  color: #666 !important;
}
#getClassRoomList .grade-right {
  width: calc(100% - 72px);
  display: inline-block;
  color: #666 !important;
}
#getClassRoomList .grade-letter1 {
  letter-spacing: 4px;
}
