#classListMobile{
  height: 100%;
  .am-list-item{
    min-height: 50px;
  }
  .am-switch .checkbox{
    height: 23px;
    width: 46px;
  }
  .am-switch .checkbox:after{
    width: 21px;
    height: 21px;
    top: 1px;
  }
  .am-switch .checkbox:before{
    background: #e5e5e5;
    height: 23px;
    width: 44px;
    top: 0;
  }
  .item{
    color: #333;
    line-height: 52px;
    background-color: white;
    font-size: 16px;
    padding: 0 15px;
  }
  .item .gray{
    color: #999;
  }
  .course{
    float: right;
  }
  .empty{
    text-align: center;
    line-height: 52px;
    color: #666;
  }
  .listCont{
    height: calc(~"100% - 50px");
    overflow-y: auto;
    border-top: 15px #f4f4f4 solid;
  }
}