#classListDetail{
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #333;
  .tabTitle{
    line-height: 40px;
    background-color: #fff;
    overflow: hidden;
    &>div{
      width: 50%;
      text-align: center;
    }
    span{
      color: #121212;
      text-align: center;
      padding-bottom: 9px;
      &.highLight{
        color: #EEA03D;
        border-bottom: 2px #EEA03D solid ;
      }
    }

  }
  .tabCont{
    height: calc(~"100% - 40px");
    overflow-y: auto;
    &>div{
      padding: 0 13px;
      background-color: #fff;
      border-top: 4px #f4f4f4 solid;
    }
    .title,.content{
       span{
         display: inline-block;
         width: 33.3%;
         text-align: center;
         line-height: 1;
       }
    }
    .title{
      line-height: 44px;
    }
    .content{
      color: #666;
      font-size: 13px;
      &>div{
        padding: 12px 0;
      }
    }
    .studentItem{
      line-height: 40px;
      &>span{
        flex: 1;
      }
    }
    .studentTitle{
        padding-left: 42px;
    }
    .status{
      font-size: 12px;
      color: #666;
      background: url("../image/icon_arrow_right.png") no-repeat right center;
      background-size: 7px;
      text-align: right;
      padding-right: 33px;
      margin-right: 9px;
    }
  }

}