#classListDetail{
  height: 100%;
  overflow: hidden;
  .tabTitle{
    span{
      color: #121212;
      &.highLight{
        color: #EEA03D;
        border-bottom: 2px #EEA03D solid ;
      }
    }

  }
}