#studentDetail{
  background: #fff;
  color: #333333;
  font-size: 14px;
  padding:0;
  .title{
    padding: 15px;
  }
  .student-echarts{
    position: relative;
    .Heart-rate, .Heart-time{
      font-size: 10px;
      color: #666;
      position: absolute;
    }
    .Heart-rate{
      left:10px;
      top: 7px;
    }
    .Heart-time{
      right: 7px;
      bottom: 24px;
    }
  }
}