(node) util.print is deprecated. Use console.log instead.
#health .am-list-thumb img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#health .noomImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#health .firstClass {
  background: url("../img/crown_first.png");
  background-size: 100% 100%;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: -0.14rem;
  left: -0.34rem;
  z-index: 100;
}
#health .secondClass {
  background: url("../img/crown_second.png");
  background-size: 100% 100%;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: -0.14rem;
  left: -0.34rem;
  z-index: 100;
}
#health .thirdClass {
  background: url("../img/crown_third.png");
  background-size: 100% 100%;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: -0.14rem;
  left: -0.34rem;
  z-index: 100;
}
#health .otherClass {
  background: #6bd0b2;
  border-radius: 50%;
  width: 0.83rem;
  height: 0.83rem;
  border: 0.06rem solid #fff ;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  line-height: 0.83rem;
  text-align: center;
  font-size: 0.56rem;
}
#health .border_img {
  background: url("../img/border_img.png");
  width: 3.61rem;
  height: 3.61rem;
  position: absolute;
  top: -0.15rem;
  left: -0.15rem;
  background-size: 100% 100%;
}
#health .health_cont {
  height: calc(100% - 3.33rem) !important;
  padding: 1rem 1.44rem 0 1.44rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#health .photoItem {
  width: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0;
  position: relative;
  float: left;
}
#health .photoItem .imgDiv {
  width: 3.33rem;
  height: 3.33rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: .64rem auto 0rem auto;
  border: none;
  position: relative;
}
#health .photoItem img {
  width: 100%;
  height: 100%;
}
#health .photoItem .studentName {
  font-size: .67rem;
  color: #444e6f;
  line-height: 1;
  padding: 0.7rem 0 0.5rem 0;
}
#health .photoItem .step_number {
  color: #5594fd;
  font-size: 0.83rem;
  margin-top: 0;
  line-height: 1;
}
#health .photoItem .step_number .step_number_s {
  font-size: 0.56rem;
}
