#warnList {
  color: #333;
}
#warnList .list_head {
  background-color: #E7F1FC;
  line-height: 50px;
  height: 50px;
  font-size: 15px;
}
#warnList .list_item {
  background-color: #fff;
  padding: 15px 0;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}
#warnList .list_item:nth-child(2n) {
  background-color: #FAFBFE;
}
#warnList .listCont {
  height: calc(100% - 65px);
  overflow-y: auto;
}

