#warning{
  color: #333;
  font-size: 14px;
  height: 100%;
  overflow: hidden;
  .cont{
    height: auto;
    overflow-y: auto;
  }
  .parent{
    padding: 15px;
    position: relative;
  }
  .head{
    position: absolute;
    left: 15px;
    top: 18px;
  }
  .student_list{
    padding: 15px;
    background-color: #fff;
  }
  .am-list-body::before,.am-list-body::after{
    display: none;;
  }

}