
#arrangementWork {
  /*  .noom-accordion:before{
      content: "";
      pointer-events: none;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #ddd;
      height: 1px;
      transform: scaleY(0.5);
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      position: absolute;
      width: 100%;
      top: 0;
    }*/
}
#arrangementWork html {
  font-size: 10px;
}
#arrangementWork ul,
#arrangementWork li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#arrangementWork .my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}
#arrangementWork .noom-accordion {
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 0;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#arrangementWork .noom-accordion .am-accordion-header {
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 0;
  height: 55px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
}
#arrangementWork .noom-accordion .am-accordion-header i {
  top: 20px;
}
#arrangementWork .noom-accordion .filePic {
  margin-right: 15px;
  height: 38px;
  margin-left: 15px;
  max-width: 38px;
}
#arrangementWork .noom-accordion .QuePic {
  margin-right: 15px;
  height: 38px;
  margin-left: 15px;
  width: auto;
}
#arrangementWork .ant_title {
  height: 1.2rem;
  padding: 1.5rem 1rem;
  color: #545454;
  background: #fff;
  font-size: 1rem;
}
#arrangementWork .ant_btn_list {
  display: inline-block;
  line-height: 1.5rem;
}
#arrangementWork .ant_btn_line {
  margin: 0 15px;
  position: relative;
  width: 1px;
}
#arrangementWork .ant_btn_line:after {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  border: none;
  width: 1px;
  background: #c9c9c9;
  -webkit-transform: scaleX(0.5);
  /* for Chrome || Safari */
  -moz-transform: scaleX(0.5);
  /* for Firefox */
  -ms-transform: scaleX(0.5);
  /* for IE */
  -o-transform: scaleX(0.5);
  /* for Opera */
  transform: scaleX(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
#arrangementWork .ant_btn_img {
  width: 1.4rem;
  float: left;
  margin-right: 4px;
}
#arrangementWork .title_wrap {
  display: flex;
  margin-bottom: 4px;
}
#arrangementWork .lineheight {
  line-height: 1;
}
#arrangementWork .ant_list_title {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #333;
}
#arrangementWork .ant_list_time {
  color: #a9a9a9;
  font-size: 0.8rem;
}
#arrangementWork .flex_align_center {
  align-items: center;
}
#arrangementWork .margin_right_8 {
  margin-right: 8px;
}
#arrangementWork .ul_list_del {
  background: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
}
#arrangementWork .icon_small_del {
  height: 15px;
  margin-bottom: 4px;
}
#arrangementWork .am-accordion .am-accordion-item .am-accordion-header::after,
#arrangementWork .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box::after {
  height: 0;
}
#arrangementWork .ant_list_subject {
  max-height: 38px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 70%;
}
#arrangementWork .ant_list_subject_no {
  margin-bottom: 0;
  width: -moz-calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  overflow: hidden;
}
#arrangementWork .ant_list_subject_no > div > div {
  padding: 0 !important;
  white-space: nowrap;
  font-size: 14px;
  color: #424242;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 48px !important;
  height: 48px;
}
#arrangementWork .uuu {
  height: 400px !important;
}
#arrangementWork .pushSubjects_cont {
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 52px;
}
#arrangementWork .pushSubjects {
  text-align: center;
  border-radius: 0;
  background-color: #4a90e2;
  height: 42px;
  line-height: 42px;
  width: 70%;
  color: #fff;
  margin: 10px auto;
  font-size: 17px;
}
#arrangementWork .am-list-item .am-list-line {
  z-index: 1;
}
#arrangementWork .am-list-item .am-list-line .am-list-content {
  line-height: 2;
  position: relative;
  height: 34px;
}
#arrangementWork .am-checkbox-inner {
  border-radius: 0;
}
#arrangementWork .flex_70 {
  width: 100px;
  margin: 4px 0 0 0;
  text-align: right;
  display: inline-block;
}
#arrangementWork .am-checkbox-input {
  width: 50px;
}
