#termitePlateLibrary {
  .my-accordion .pad .am-accordion-content-box {
    padding: 10px;
  }
  .noom-accordion {
    .am-accordion-header {
      height: 60px;
    }
    .filePic {
      width: 10%;
    }
    .QuePic {
      width: 7%;
    }
  }

}