(node) util.print is deprecated. Use console.log instead.
#termitePlateLibrary html {
  font-size: 10px;
}
#termitePlateLibrary ul,
#termitePlateLibrary li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#termitePlateLibrary .my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}
#termitePlateLibrary .noom-accordion .am-accordion-header {
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px 0;
  height: 55px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
}
#termitePlateLibrary .noom-accordion .am-accordion-header i {
  top: 20px;
}
#termitePlateLibrary .noom-accordion .filePic {
  margin-right: 15px;
  height: 38px;
  margin-left: 15px;
}
#termitePlateLibrary .noom-accordion .QuePic {
  margin-right: 15px;
  height: 38px;
  margin-left: 15px;
}
#termitePlateLibrary .ant_title {
  height: 28px;
  padding: 15px;
}
#termitePlateLibrary .ant_btn_list {
  display: inline-block;
  line-height: 28px;
}
#termitePlateLibrary .ant_btn_line {
  margin: 0 15px;
  position: relative;
  width: 1px;
}
#termitePlateLibrary .ant_btn_line:after {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  border: none;
  width: 1px;
  background: #c9c9c9;
  -webkit-transform: scaleX(0.5);
  /* for Chrome || Safari */
  -moz-transform: scaleX(0.5);
  /* for Firefox */
  -ms-transform: scaleX(0.5);
  /* for IE */
  -o-transform: scaleX(0.5);
  /* for Opera */
  transform: scaleX(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
#termitePlateLibrary .ant_btn_img {
  width: 28px;
  float: left;
  margin-right: 4px;
}
#termitePlateLibrary .title_wrap {
  display: flex;
  margin-bottom: 4px;
}
#termitePlateLibrary .lineheight {
  line-height: 1;
}
#termitePlateLibrary .ant_list_title {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #333;
}
#termitePlateLibrary .ant_list_time {
  color: #a9a9a9;
  font-size: 0.8rem;
}
#termitePlateLibrary .flex_align_center {
  align-items: center;
}
#termitePlateLibrary .margin_right_8 {
  margin-right: 8px;
}
#termitePlateLibrary .ul_list_del {
  background: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
}
#termitePlateLibrary .icon_small_del {
  height: 15px ;
  margin-bottom: 4px;
}
#termitePlateLibrary .am-accordion .am-accordion-item .am-accordion-header::after,
#termitePlateLibrary .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box::after {
  height: 0;
}
