#termitePlateLibrary {
  html{
    font-size: 10px;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .my-accordion .pad .am-accordion-content-box {
    padding: 10px;
  }
  .noom-accordion {
    .am-accordion-header {
      box-sizing: border-box;
      cursor: pointer;
      padding: 8px 0;
      height: 55px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      position: relative;
      align-items: center;
    }
    .am-accordion-header i {
      top: 20px;
    }
    .filePic {
      margin-right: 15px;
      height: 38px;
      margin-left: 15px;
    }
    .QuePic {
      margin-right: 15px;
      height: 38px;
      margin-left: 15px;
    }
  }
  .ant_title {
    height: 28px;
    padding: 15px;
  }
  .ant_btn_list {
    display: inline-block;
    line-height: 28px;
  }
  .ant_btn_line {
    margin: 0 15px;
    position: relative;
    width: 1px;
  }
  .ant_btn_line:after {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    width: 1px;
    background: #c9c9c9;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5); /* for Chrome || Safari */
    -moz-transform: scaleX(0.5); /* for Firefox */
    -ms-transform: scaleX(0.5); /* for IE */
    -o-transform: scaleX(0.5); /* for Opera */
    transform: scaleX(0.5);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
  .ant_btn_img {
    width: 28px;
    float: left;
    margin-right: 4px;
  }
  .title_wrap {
    display: flex;
    margin-bottom: 4px;
  }
  .lineheight{
    line-height: 1;
  }
  .ant_list_title{
    font-size: 1rem;
    margin-bottom: 6px;
    color: #333;
  }
  .ant_list_time{
    color: #a9a9a9;
    font-size: 0.8rem;
  }
  .flex_align_center{
    align-items: center;
  }
  .margin_right_8{
    margin-right: 8px;
  }
  .ul_list_del{
    background: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    color: #666;
    font-size: 0.8rem;
  }
  .icon_small_del{
    height:15px ;
    margin-bottom: 4px;
  }
  .am-accordion .am-accordion-item .am-accordion-header::after, .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box::after{
    height: 0;
  }

}