#fileDownload{
  background-color: white;
  .am-tabs-default-bar-tab{
    color: #333;
  }
  .am-tabs-default-bar-tab-active{
    color: #F56A55;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 30px;
      height: 2px;
      border-radius: 1px;
      margin-left: -15px;
      background-color: #F56A55;
    }
  }
  .am-tabs-default-bar-underline{
    display: none;
  }
  height: 100%;
  overflow-y: auto;
  color:#F56A55;
  background-color: #fff;
  .topImg{
    width: 110px;
    height: 110px;
    margin: 30px auto 0;
    img{
      width: 100%;
    }

  }
  .textCont{
    font-size: 24px;
    text-align: center;
    span{
      font-size: 14px;
      padding-top: 10px;
    }
  }
  .downBtn{
    margin: 75px auto 10px;
    text-align: center;
    width: 100%;
    height: 46px;
    span{
      display: inline-block;
      padding:13px 18px 13px 42px;
      box-sizing: border-box;
      font-size: 18px;
      color: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    &.IOS{
      span{
        background:#F56A55 url("../img/btn_ios.png") no-repeat 18px 11px;
        background-size: 19px;
      }

    }
    &.Android{
      span{
        background:#F56A55 url("../img/btn_android.png") no-repeat 14px center;
        background-size: 26px;
      }

    }
  }
  .bottomImg{
    padding: 0 20px;
    img{
      width: 100%;
    }
  }
  &.youyang{
    .textCont{
      color: #4E8BFD;
    }
    .bindUser{
      text-align: center;
      padding-bottom: 15px;
      span{
        font-size: 13px;
        color: #4E8BFD;
        text-decoration: underline;
      }
    }
    .downBtn{
      &.IOS{
        span{
          background:#4E8BFD url("../img/btn_ios.png") no-repeat 18px 11px;
          background-size: 19px;
        }

      }
      &.Android{
        span{
          background:#4E8BFD url("../img/btn_android.png") no-repeat 14px center;
          background-size: 26px;
        }

      }

    }
  }

  #wxBindProperly{
    background-color: white;
    .bindCont{
      padding: 0 25px 20px;
        .title{
          padding: 15px 0;
          color: #666;
          font-size: 15px;
        }
      .inputCont{
        border-radius: 2px;
        box-shadow:1px 0px 6px rgba(0, 0, 0, 0.2);
        .am-list-item.am-input-item{
          padding-right: 15px;
        }
        .am-input-control{
          margin-left: 0;
        }
        .Verification{
          .am-button-primary{
            border-color: #5DA1FD;
            color: #4E8BFD;
          }
          .am-button::before {
            border-color: #5DA1FD!important;
          }
        }
      }
      .submitBtn_green{
        margin-top: 22px;
        padding: 0;
        background-color: #5DA1FD;
        border-radius: 4px;
        .am-button-primary{
          background: #5DA1FD!important;
          border: 1px solid #5DA1FD!important;
          height: 44px;
          line-height: 44px;
        }
        .am-button-primary::before {
          border: 1px solid #5DA1FD !important;
        }
      }
      .msgText{
        font-size: 12px;
        color: #888;
        padding: 9px 0;
      }
    }
    .bindingNumber{
      padding: 15px 25px 20px 25px;
      .am-button{
        border: 1px solid #5DA1FD!important;
        margin-top: 20px;
        span{
          color: #5DA1FD!important;
        }
      }
      .am-button::before {
        border: 1px solid #5DA1FD !important;
      }
      div{
        padding-bottom: 5px;
      }
    }
  }
}