#KnowledgeList {
  height: 100%;
  overflow-y: auto;
  position: relative;
}
#KnowledgeList .item {
  padding: 15px;
  background-color: white;
  font-size: 15px;
  color: #333;
}
#KnowledgeList .item .topCont {
  padding-bottom: 15px;
}
#KnowledgeList .item .topCont.tagCont {
  line-height: 20px;
}
#KnowledgeList .item .topCont.tagCont .tag {
  vertical-align: middle;
}
#KnowledgeList .item .topCont.tagCont .text_hidden {
  width: calc(100% - 110px);
}
#KnowledgeList .item .topCont.tagCont .htmlDiv {
  max-height: 55px;
}
#KnowledgeList .item .topCont.tagCont .htmlDiv > div {
  height: 100% !important;
}
#KnowledgeList .item .topCont.tagCont .htmlDiv > div img {
  max-height: 100% !important;
}
#KnowledgeList .item .rate {
  float: right;
  width: 110px;
  text-align: right;
}
#KnowledgeList .item .rate span {
  color: #199D5C;
}
#KnowledgeList .item .tag {
  font-size: 16px;
  color: #333;
  margin-left: 10px;
}
#KnowledgeList .item .course {
  color: #fff;
  background-color: #4285F4;
  border-radius: 2px;
  padding: 0 7px;
  vertical-align: middle;
  font-size: 12px;
  line-height: initial;
  display: inline-block;
}
#KnowledgeList .item .gray_text {
  color: #666;
  font-size: 14px;
}
#KnowledgeList .item .gray_text span {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
#KnowledgeList .item .gray_text span:first-child {
  padding-left: 0;
}
#KnowledgeList .item .gray_text span:first-child::after {
  display: none;
}
#KnowledgeList .item .gray_text span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #E5E5E5;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#KnowledgeList .emptyCont {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #666;
  width: 104px;
  font-size: 14px;
}
#KnowledgeList .emptyCont img {
  width: 100%;
  margin-bottom: 25px;
}
