#KnowledgeStatic .dom_cont {
  padding: 15px;
  background: #fff !important;
}
#KnowledgeStatic .emptyCont {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #666;
  width: 134px;
  font-size: 14px;
}
#KnowledgeStatic .emptyCont img {
  width: 104px;
  margin: 0 auto 25px auto;
}
#KnowledgeStatic .toBind {
  color: #4285f4;
}
