#currentAttendance .classTableA {
  padding: 0.56rem 0.83rem;
  text-align: center;
}
#currentAttendance .classTableA .due {
  font-size: 0.67rem;
  margin-top: 0.56rem;
}
#currentAttendance .classTableA .due .number {
  color: #5091fe;
}
