(node) util.print is deprecated. Use console.log instead.
#currentAttendance .classTableA {
  padding: 0.56rem 0.83rem;
  text-align: center;
  height: 8.8rem;
  position: relative;
}
#currentAttendance .classTableA .due {
  font-size: 0.67rem;
  margin-top: 0.86rem;
}
#currentAttendance .classTableA .due .number {
  color: #5091fe;
  font-size: 2.22rem;
}
