#currentAttendance {
  .classTableA {
    padding: 0.56rem 0.83rem;
    text-align: center;
    height: 8.8rem;
    position: relative;
    .due{
      font-size: 0.67rem;
      margin-top: 0.86rem;
      .number{
        color: #5091fe;
        font-size: 2.22rem;
      }
    }
  }
}