#currentAttendance {
  .classTableA {
    padding: 0.56rem 0.83rem;
    text-align: center;
    .due{
      font-size: 0.67rem;
      margin-top: 0.56rem;
      .number{
        color: #5091fe;
      }
    }
  }
}