#chatDetil {
  background: #ebebeb;
  .messageWrap{
    padding: 10px;
  }
  .message {
    margin-bottom: 16px;
    float: left;
    line-height: 1.6;
    width: 100%;
  }
  .message .userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    cursor: pointer;
  }
  .message.me{
    float: right;
    text-align: right;
    clear: right;
  }
  .message.me .userAvatar {
    float: right;
  }
  .message.me .content {
    overflow: hidden;
  }
  .message .content {
    overflow: hidden;
  }
  .bubble.bubble_primary {
    background-color: #a2e65b;
  }
  .bubble {
    max-width: 75%;
    min-height: 40px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
  }
  .bubble.bubble_default {
    background-color: #fff;
  }
  .bubble.right:after, .bubble.right:before {
    left: 100%;
  }
  .bubble:after, .bubble:before {
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " ";
  }
  .bubble.bubble_primary.right.arrow_primary:before, .bubble.bubble_primary.right:after {
    border-left-color: #a2e65b;
    border-left-width: 4px;
  }
  .bubble:after, .bubble:before {
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " ";
  }
  .bubble.right:after, .bubble.right:before {
    left: 100%;
  }
  .bubble.left:after, .bubble.left:before {
    right: 100%;
  }
  .bubble.left:after {
    border-right-color: #fff;
    border-right-width: 4px;
  }
  .bubble_cont{
    word-wrap: break-word;
    word-break: break-all;
    min-height: 40px;
    position: relative;
  }
  .border {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border-radius: 3px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
  }
  .border_color{
    border-color:#d7d7d7;
  }
  .bubble_cont .plain {
    padding: 9px 13px;
  }
  pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
    font-size: 16px;
  }
  .PullList{
    height: calc(~ "100% - 66px") !important;
    overflow-x: hidden;
  }
  .input_message{
    background: #f5f5f7;
    height: 46px;
    padding: 10px 12px;
    border-radius: 4px;
    .am-textarea-item{
      border:1px solid #d7d7d7 ;
      border-radius: 4px;
      padding: 0 5px;
      max-height: 46px;
      overflow-y: auto;
    }
    .am-textarea-control textarea{
      font-size: 16px;
      line-height: 20px;
    }
  }

}