(node) util.print is deprecated. Use console.log instead.
#classList .am-list-item .am-list-line .am-list-content {
  padding: 10px 0;
  font-size: 15px;
}
#classList .userImg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
  display: inline-block;
}
#classList .message_class2 {
  background: url("../img/message_class2.png") no-repeat;
  background-size: 100% 100%;
}
#classList .am-list-item .am-list-line .am-list-content span {
  vertical-align: middle;
  width: calc(100% - 56px);
  line-height: 1;
}
