#contactsList {
  .am-list-footer {
    text-align: center;
  }
  .sticky-list {
    .sticky-container {
      .am-list-item {
        padding-left: 0;
      }
      .am-list-line {
        padding-right: 0;
        .am-list-content {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      .sticky {
        padding: 7px 15px;
        transform: none;
      }
    }
  }
}
