#contactsListSimple .userImg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 15px;
}
#contactsListSimple .am-list-view-scrollview-content {
  width: 100%;
}
#contactsListSimple .am-list-item .am-list-line .am-list-content {
  padding: 10px 0;
  font-size: 15px;
}
#contactsListSimple .am-list-item .am-list-line .am-list-content span {
  vertical-align: middle;
  width: calc(100% - 56px);
}
#contactsListSimple .am-list-body {
  border-bottom: none;
  border-top: none;
}
#contactsListSimple .am-list-body::before {
  background: none;
}
#contactsListSimple .address_header {
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  background: #fff;
  position: relative;
}
#contactsListSimple .address_header span {
  color: #666;
  width: 50%;
  display: inline-block;
  text-align: center;
}
#contactsListSimple .address_header .select {
  color: #1aad19;
  position: relative;
}
#contactsListSimple .address_header .select:after {
  content: '';
  width: 20px;
  height: 2PX;
  background: #1aad19;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#contactsListSimple .address_header:after {
  content: '';
  position: absolute;
  background-color: #c4c4c4;
  display: block;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
