#friendList {
  .userImg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 15px;
    object-fit: cover;
  }
  .am-list-body::after{
    background: transparent;
  }
  .am-list-item .am-list-line .am-list-content{
    padding: 10px 0;
    font-size: 15px;
    span{
      vertical-align: middle;
      width: calc(~"100% - 56px");
      line-height: 1;
    }
  }
}