#originationList {
  height: 100%;
  overflow: hidden;
}
#originationList #friendList {
  height: 100%;
}
#originationList .origination_top {
  height: 111px;
}
#originationList .origination_cont {
  height: calc(100% - 106px);
  overflow-y: auto;
  overflow-x: hidden;
}
#originationList .group_number {
  line-height: 40px !important;
  width: 56px !important;
  text-align: right;
  display: inline-block;
  height: 40px;
  color: #666;
  font-size: 14px;
}
#originationList .am-list-item .am-list-line .am-list-content span.origination_name {
  width: calc(100% - 79px);
}
#originationList .am-list-item .am-list-line .am-list-arrow {
  display: inline-block;
  position: relative;
  top: 3px;
}
#originationList .originationName {
  overflow: hidden;
}
#originationList .originationName .am-list-line::after {
  background-color: #fff;
}
#originationList .am-search-input,
#originationList .am-search-input input[type="search"] {
  height: 40px;
}
#originationList .am-search-input .am-search-synthetic-ph {
  padding: 6px 0;
}
#originationList .am-search {
  background-color: #f5f5f9;
  height: 40px;
}
#originationList .originationName_arrow {
  margin: 0 6px;
  position: relative;
  top: -3px;
  color: #999;
  font-size: 16px;
}
