.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}
.noomCkeckBox .am-checkbox {
    width: 20% !important;
}

.my_drawer{
    font-size: 14px;
}
.my_drawer .am-tabs-default-bar-tab-active{
    color: #EE9D36;
}
.my_drawer .am-tabs-default-bar-underline{
    border:1px #EE9D36 solid
}
.my_drawer .am-pull-to-refresh-content-wrapper{
    /*background-color: #6BA52B;*/
    min-height: 100vh;
}
.my_drawer .am-drawer-draghandle{
    width:0 !important;
}
.flex_70{
    width:100px;
    margin: 4px 0 0 10px;
    text-align: right;
}
.exercises_cont{
    max-width: calc(100% - 110px) !important;
    width: calc(100% - 110px) !important;
    display: inline-flex;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    max-height: 60px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.exercises_cont div div, .question_detil div div{
    padding:0 !important;
    white-space:pre-wrap;
    font-size: 14px;
    color: #424242;
}
.exercises_cont div div p, .question_detil div div p{
    margin: 0;
    width: 100% !important;
}
.exercises_cont div div p img, .question_detil div div p img{
    max-width: 100%;
}

.exercises_line .am-list-line{
    padding:8px 15px 8px 0;
}
.exercises_line .am-checkbox-inner{
    top: 15px !important
}
.exercises_line .am-list-line::after, .my_drawer .am-list-body::before{
    background-color: #fff !important;
}
.exercises_line .am-list-line{
    border-bottom:none !important;
}
.btn_homework{
    width:40px;
    height:40px !important;
}
.btn_homework img{
    width: 100%;
    height:100%;
}
.btn_no_b{
    border: none !important;
    background: none !important;
}
.btn_no_b:before{
    border: none !important;
}
.question_detil_cont{
    padding:0 15px;
}
.question_detil_cont h3{
    margin: 15px 0;
}
.question_detil_cont hr{
    height: 1px;
    margin: 30px 0;
    border: none;
    width:100%;
    position:relative;
}
.question_detil_cont hr:before {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #dcdcdc;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    width: 100%;
    top: 0;
}
.question_detil{
    color:#666;
    width: 96%;
    margin: 0 2%;
}
.exercises_line .am-checkbox-input{
    width: 40px;
}
.btn_homework_cont .am-button.am-button-active{
    background: none !important;

}
.my_drawer .am-tabs-default-bar-top .am-tabs-default-bar-tab{
    border-bottom: none;
}
.icon_homework_check .am-list-thumb img{
    width:26px;
    height:26px;
}
.my_drawer .am-drawer-sidebar .am-list .am-list-line {
    border-bottom: none !important;
    padding:6px 0;
}
.my_drawer .am-drawer-sidebar .am-list .am-list-line::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
@media screen and (min-width:750px){
    .btn_homework{
        width: 50px;
        height: 50px !important;
    }
}
.margin_10{
    margin-right: 10px;
}
.blue_solid{
    color: #fff;
    background: #7ab8ff;
    border: none;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
}