#classPractice{
    font-size: 13px;
    color: #666;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  
    .am-tabs-default-bar-tab{
      height: 48px;
      line-height: 48px;
    }
    .classPractice-class{
      padding: 12px 15px 0px 15px;
      background: #fff;
      margin-bottom: 15px;
    }
    .classPractice-class + div.am-tabs{
      height: calc(~"100% - 101px");
    }
    .classPractice-title{
      color: #333;
      font-size: 15px;
      line-height: 30px;
      display: inline-block;
    }
    .classPractice-btn{
      font-size: 12px;
      line-height: 1;
      padding: 9px 18px;
      border-radius: 4px;
    }
    .classPractice-btnBlue{
      background: #5091FE;
      color: #fff;
      border: none;
    }
    .classPractice-btn-blue{
      color: #0768AC;
      border: 1px solid #3672ED;
    }
    .classPractice-btn-green{
      color: #20954C;
      border: 1px solid #3AB669;
    }
    .classPractice-btn-red{
      color: #CB4B4B;
      border: 1px solid #F26F7C;
    }
    .classPractice-bottom{
      margin-bottom: 15px;
    }
    .summary-left{
      margin-left: 38px;
    }
    .topic_list{
      /*overflow: auto;
      height: calc(~"100% - 86px");*/
      .topic_item{
        margin: 15px;
        background: #fff;
        padding: 20px 15px;
        border-radius: 10px;
        .topicTitle{
          font-size: 15px;
          color: #333;
          span{
            width: 30px;
            display: inline-block;
            text-align: center;
            vertical-align: top;
          }
          & div.title{
            width: calc(~"100% - 30px");
            display: inline-block;
          }
          & div{
            margin: 0 !important;
            padding: 0 !important;
            line-height: 20px !important;
            & p{
              margin: 0 !important;
              padding-bottom: 6px;
            }
            & p > span{
              display: block;
              width: 100%;
              text-align: left;
            }
            & img{
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }
      .table_item{
        border: 1px solid #005FFF;
        padding: 12px 8px;
        border-radius: 4px;
        margin-bottom: 12px;
        span.center{
          width: 40%;
        }
        span{
          width: 30%;
          display: inline-block;
          > span{
            color: #333;
            margin-left: 15px !important;
          }
        }
        span:first-child {
          margin-left: 0;
        }
      }
      .topicAnswer{
        margin: 15px 0 18px 0;
        padding-left: 30px;
        .topicAnswer_left,.topicAnswer_right{
          width: 50%;
          display: inline-block;
          span{
            color: #333;
            font-size: 15px;
            margin-left: 15px;
          }
        }
        .topicAnswer_right{
          text-align: right;
        }
      }
      .topic_table, .list_item_bottom{
        padding-left: 30px;
      }
      .list_item_bottom{
        margin-top: 23px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }
    .names_box{
      position: absolute;
      bottom: 0;
      left: 0;
      height: 70%;
      box-shadow: 0px 7px 79px 0px rgba(0, 0, 0, 0.55);
      background: white;
      width: 100%;
      z-index: 3;
      transition: 0.2s;
      overflow: hidden;
      transform: translate(0,150%);
      .header{
        text-align: center;
        font-size: 15px;
        color: #333;
        background: #F5F5F5;
        padding: 11px 0;
        line-height: 1;
        position: relative;
        span.close{
          width: 15px;
          height: 15px;
          display: inline-block;
          position: absolute;
          right: 17px;
          top:12px;
          background: url("../img/close-mask.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .names-cont{
        padding: 15px;
        height: calc(~"100% - 37px");
        overflow-y: auto;
        overflow-x: hidden;
        & span{
          width: 100%;
          display: inline-block;
          font-size: 16px;
          color: #333;
          padding: 0 0 24px 0;
          box-sizing: border-box;
          line-height: 30px;
        }
      }
    }
    .mask{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .am-tabs-default-bar-tab-active{
      color: #0066FF;
    }
    .am-tabs-default-bar-underline{
      border-color: #0066FF ;
      width: 3.3333% !important;
      margin: 0px 15%;
    }
    .performance-list{
      margin: 15px;
      height: calc(~"100% - 30px");
      overflow: hidden;
      border-radius: 10px;
      .title{
        padding: 13px 0;
        background: #E6E6E6;
        border-radius:10px 10px 0 0;
        line-height: 1;
      }
      .performance-cont{
        background: #fff;
        height: calc(~"100% - 39px");
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        border-radius: 10px;
      }
      span{
        width: 25%;
        display: inline-block;
        text-align: center;
      }
      span.number{
        width: 20%;
      }
      span.number2{
        width: 15%;
      }
      span.name{
        width: 30%;
        vertical-align: bottom;
      }
      span.time{
        width: 35%
      }
    }
    .performance-item{
      padding: 13px 0;
      position: relative;
      line-height: 1;
      &:last-child:after{
        display: none;
      }
      span{
        color: #333;
        font-size: 15px;
      }
      &:after{
        content: '';
        position: absolute;
        background-color: #eee;
        display: block;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1PX;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }
    }
    .answer-student{
      margin: 8px 0 0 0;
     & > div{
        padding: 10px 0 10px 30px;
       .right{
         color: #333;
       }
     }
      & div:last-child{
        padding-bottom: 0;
      }
    }
    .classPractice-empty{
      width: 141px;
      height: 110px;
      background: url("../img/classPractice-empty.png") no-repeat;
      background-size: 100% 100%;
    }
    .classPractice-emptyText{
      text-align: center;
      font-size: 12px;
      color: #999;
      margin-top: 30px;
    }
    .Short-Answer {
      .topicTitle {
        font-size: 15px;
        color: #333;
        span {
          width: 30px;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          padding: 0;
        }
        .title {
          width: calc(~"100% - 30px");
          display: inline-block;
          line-height: 30px;
        }
      }
      .Short-AnswerCont{
        padding-left: 30px;
        .Short-AnswerCont1{
          padding:12px 0;
        }
        .pic{
          width: 80px;
          height: 80px;
          margin-right: 16px;
          display: inline-block;
        }
        img{
          width: 100%;
          height:100%;
          object-fit: cover;
        }
      }
    }
    .right-answer{
      width: 100%;
      color: #333;
      .btn-answer{
        color: #EF6E58;
      }
  
      & span{
        display: block;
        margin-top: 12px;
        p{
          margin: 0;
          padding: 0;
        }
      }
      & span.ABC{
        display: inline-block;
        vertical-align: top;
        margin-top:0;
      }
      .right-red{
        color: #EF6E58;
      }
    }
    .classPractice-btn-empty{
      border: none;
    }
    @media only screen and (max-width: 600px) {
     /* .am-tabs-default-bar-top::after{
        content: '';
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1PX;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }*/
      .am-tabs-default-bar-content{
        justify-content: space-between;
        padding: 0 15px;
        .am-tabs-default-bar-tab{
          position: relative;
          width: auto !important;
          &:first-child{
            justify-content: flex-start;
          }
          &:last-child{
            justify-content: flex-end;
          }
          &::after{
            display: none;
          }
          &.am-tabs-default-bar-tab-active::before{
            content: '';
            position: absolute;
            background-color: #0066FF;
            display: block;
            z-index: 1;
            top: auto;
            right: auto;
            bottom: 0;
            left: 50%;
            width: 19px;
            height: 2PX;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
          }
        }
        .am-tabs-default-bar-underline{
          display: none;
        }
      }
    }
  }