.topic_list {
  overflow: auto;
  height: 400px;
}
.names_box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  box-shadow: 10px 10px 10px #ccc;
  background: white;
  width: 100%;
  z-index: 3;
  transition: 0.2s;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
