.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}
.noomCkeckBox .am-checkbox {
    width: 20% !important;
}

.my_drawer{
    font-size: 14px;
}
.my_drawer .am-tabs-default-bar-tab-active{
    color: #EE9D36;
}
.my_drawer .am-tabs-default-bar-underline{
    border:1px #EE9D36 solid
}
.my_drawer .am-pull-to-refresh-content-wrapper{
    min-height: 100vh;
}
.my_drawer .am-drawer-draghandle{
    width:0 !important;
}
.my_flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex_1{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex_70{
    width:70px;
    margin: 4px 0 0 10px;
    text-align: right;
}
.h_blue_btn{
    color:#4990E2;
    border-radius: 4px;
    border: 1px solid #4990E2;
    padding: 2px 4px;
    font-size: 14px;
}
.h_orange_btn{
    color:#F6A623;
    border-radius: 4px;
    border: 1px solid #F6A623;
    padding: 2px 4px;
    font-size: 14px;
}
.h_red_btn{
    color:#F56A55;
    border-radius: 4px;
    border: 1px solid #F56A55;
    padding: 2px 4px;
    font-size: 14px;
}
.h_green_btn{
    color:#6BA52B;
    border-radius: 4px;
    border: 1px solid #6BA52B;
    padding: 2px 4px;
    font-size: 14px;
}
.exercises_cont{
    max-width: calc(100% - 80px) !important;
    display: inline-flex;
}
.exercises_cont div div, .question_detil div div{
    padding:0 !important;
    white-space:pre-wrap;
    font-size: 14px;
    color: #424242;
}
.exercises_cont div div p, .question_detil div div p{
    margin: 0;
    width: 100% !important;
}
.exercises_line .am-list-line{
    padding:8px 15px 8px 0;
}
.exercises_line .am-checkbox-inner{
    top: 15px !important
}
.am-list-body div:not(:last-child) .am-list-line::after{
    height:0 !important
}
.btn_homework{
    width:40px;
    height:40px;
}
.btn_homework img{
    width: 100%;
    height:100%;
}
.btn_no_b{
    border: none;
    background: none;
}
.btn_no_b:before{
    border: none !important;
}
.question_detil_cont{
    padding:0 15px;
}
.question_detil_cont h3{
    margin: 15px 0;
}
.question_detil_cont hr{
    height: 1px;
    margin: 30px 0;
    border: none;
    width:100%;
    position:relative;
}
.question_detil_cont hr:before {
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #dcdcdc;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    width: 100%;
    top: 0;
}
.question_detil{
    color:#666;
}