#groupSetting {
  .maaee_group_face, 
  .maaee_group_face1,
  .maaee_group_face2, 
  .maaee_group_face3 {
    background: #eee;
    margin: 20px auto;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    background: #eee
  }
  // 一个人
  .maaee_group_face1 {
    padding: 0;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  // 两个人
  .maaee_group_face2 {
    padding: 0;
    img {
      margin: 20px 2px 0px 2px;
      border-radius: 50%;
      width: 45%;
      height: 45%;
    }
  }
  // 三个人
  .maaee_group_face3 {
    padding: 8px;
    img {
      border-radius: 50%;
      width: 45%;
      height: 45%;
    }
    img:first-child{
      margin:auto 20px;
    }
    img:nth-child(2){
      margin-right: 3px;
      margin-left: 2px;
    }
  }
  // 四个人
  .maaee_group_face {
    padding: 8px;
    img {
      margin: 3px;
      border-radius: 50%;
      width: 40%;
      height: 40%;
    }
    img:first-child{
      margin-left: 5px;
    }
    img:nth-child(3){
      margin-left: 5px;
    }
  }

  // 群组成员
  .calmGroupMember {
    padding: 0px 15px;
    .allMembers {
      height: 40px;
      line-height: 40px;
    }
    .groupMemeberRight {
        float: right;
        position: relative;
        overflow: hidden;
        .countMembers {
          margin-right: 20px;
        }
        .iconRight {
            position:absolute;
            top: 9px;
            right: 0;
        }
    }
  }
  .noomImgL {
    height: 40px;
    overflow: hidden;
    img {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
  // 查找聊天记录
  .searchChatMsg {
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
    font-size: 16px;
    .rightArrow {
      float: right;
    }
  }
  // 消息免打扰
  .ingoreMsg {
    margin: 20px 0;
    padding: 0px 15px;
    background-color: #fff;

    .am-list {
      .am-list-body::before {
        height: 0;
      }
      .am-list-body::after {
        height: 0;
      }
      .am-list-body {
        .am-list-item.am-list-item-middle {
          padding-left: 0;
        }
        .am-list-line {
          padding-right: 0px;
          .am-list-content {
            font-size: 16px;
          }
        }
      }
    }
  }
}