#groupSetting {
  .maaee_group_face, .maaee_group_face2, .maaee_group_face3 {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50%;
    cursor: pointer;
    padding: 4px;
    background: #eee
  }
  .maaee_group_face1 {
    width: 42px !important;
    height: 42px !important;
    border-radius: 50%;
    cursor: pointer;
  }

  .maaee_group_face {
    background: #eee;
    margin: 0 auto;
  }

  .maaee_group_face div, .maaee_group_face img {
    width: 17px !important;
    height: 17px !important;
    float: left;
  }

  .maaee_group_face tr td img {
    width: 19px !important;
    height: 19px !important;
    float: left;
  }

  .maaee_group_face img:first-child {
    border-radius: 50%
  }

  .maaee_group_face img:nth-child(2) {
    border-radius: 50%
  }

  .maaee_group_face img:nth-child(3) {
    border-radius: 50%
  }

  .maaee_group_face img:nth-child(4) {
    border-radius: 50%
  }
  .noomImgL {
    height: 40px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}