#personalSettings {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    padding: 20px 0px;
    // 头像块信息
  .logoImg {
      background: #fff;
      padding: 15px;
      overflow: hidden;
      span{
          float: left;
      }
      .imgInfo {
          margin-right: 20px;
      }
      .topImg {
        width: 50px;
        height: 50px;
        background-color: skyblue;
        border-radius: 50%;
      }
      .rightBtn {
          width: 50px;
          height: 50px;
          font-size: 38px;
          line-height: 50px;
      }
  }
    // 查找聊天记录
    .searchChatMsg {
        margin:20px 0;
        padding: 15px;
        background-color: #fff;
        .rightArrow {
            float: right;
        }
    }
    // 消息免打扰
    .ingoreMsg{
        margin:20px 0;
        padding: 15px;
        background-color: #fff;
        
        .am-list{
            .am-list-body::before{
                height: 0;
            }
            .am-list-body::after{
                height: 0;
            }
            .am-list-body {
                .am-list-item.am-list-item-middle{
                    padding-left: 0;
                }
            }
        }
    }
}