#weArrPayment {
  .payContent {
    .personCenter {
      z-index: 999;
      height: 200px;
      background-color: #f7cdff;
      margin: 20px;
      border-radius: 10px;
      .userImg {
        border-radius: 50%;
      }
      .userName {
        color: #FFFFFF;
        font-weight: 900;
      }
      h5 {
        text-align: center;
      }
    }
    .rechargeAmount {
      .payBall {
        width: 80px;
        height: 80px;
        background-color: yellow;
        border-radius: 50%;
        z-index: 999;
      }
    }
    .paymentMode {
      z-index: 999;
    }
    .payNow {
      width: 140px;
      height: 41px;
      background-color: yellow;
      border-radius: 10px 10px 10px 10px;
      z-index: 999;
    }
    #payIframe {
      z-index: 1;
      float: left;
    }
  }
  .paySuccess {
    display: none;
  }
}