#previewFile {
    .ppt_wrap{
      width: 100%;
      height: 100%;
      border: none;
    }
  .mp3_wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%); /* IE 9 */
    -moz-transform:translate(-50%, -50%); /* Firefox */
    -webkit-transform:translate(-50%, -50%); /* Safari 和 Chrome */
    -o-transform:translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    max-height: 100%;
  }
}