#dashboard {
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #162148;
}
#dashboard ::-webkit-scrollbar {
  display: none;
}
#dashboard .clear {
  overflow: hidden;
}
#dashboard .fl {
  float: left;
}
#dashboard .gradeTitle {
  font-size: 16px;
  color: #a6abb9;
  margin: 0;
}
#dashboard .numDiv {
  margin-bottom: 20px;
}
#dashboard .numDiv .allNUm {
  padding-right: 60px;
}
#dashboard .numDiv .allNUm .num {
  font-size: 40px;
  margin: 0;
}
#dashboard .numDiv .msgNum .num {
  font-size: 26px;
  margin: 0;
  padding-top: 12px;
}
#dashboard .cont {
  height: 100%;
  overflow-y: auto;
  margin: 40px;
  display: flex;
  display: -webkit-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
}
#dashboard .cont .list_wrap_padding {
  width: 33.3%;
  height: auto;
  box-sizing: border-box;
}
#dashboard .cont .list_wrap_padding.table_class {
  width: 30%;
  height: 230px;
  overflow: hidden;
}
#dashboard .cont .list_wrap_padding.classAfter {
  width: 20%;
}
#dashboard .cont .list_wrap_padding.startClassNum {
  height: 300px;
}
#dashboard .cont .list_wrap_padding.resource {
  width: 50%;
}
#dashboard .cont .tableTitle {
  margin-bottom: 10px;
}
#dashboard .cont .topTitle {
  width: 100%;
}
#dashboard .cont .topTitle .schoolName {
  font-size: 26px;
  margin-bottom: 30px;
}
#dashboard .cont .topList {
  background-color: #1d2b60;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  -moz-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  position: relative;
}
#dashboard .cont .topList .tableDiv {
  height: 200px;
  overflow-y: auto;
}
#dashboard .cont .topList table {
  width: 100%;
  text-align: center;
}
#dashboard .cont .topList table thead {
  font-size: 12px;
}
#dashboard .cont .topList table td {
  padding: 10px 0;
}
#dashboard .cont .topList table tbody {
  height: 160px;
  overflow-y: auto;
}
#dashboard .pB20 {
  padding-bottom: 20px;
}
#dashboard .list_wrap_padding {
  padding: 0;
  margin-bottom: 80px;
}
