#dashboard {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: 100%;
  width: 100%;
  color: #fff;
  background: -webkit-radial-gradient(#282b4b, #1b1c27);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#282b4b, #1b1c27);
  /* Opera 11.1 - 12.0 */
  background: -moz-radial-gradient(#282b4b, #1b1c27);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#282b4b, #1b1c27);
  /* 标准的语法 */
}
#dashboard ::-webkit-scrollbar {
  display: none;
}
#dashboard .clear {
  overflow: hidden;
}
#dashboard .fl {
  float: left;
}
#dashboard .fr {
  float: right;
}
#dashboard .flex_div {
  display: flex;
  display: -webkit-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
#dashboard .gradeTitle {
  font-size: 16px;
  color: #a6abb9;
  margin: 0;
}
#dashboard .bodyIcon img {
  display: block;
  position: absolute;
}
#dashboard .bodyIcon img.icon_topLeft {
  left: 2px;
  top: 2px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
#dashboard .bodyIcon img.icon_topRight {
  right: 2px;
  top: 2px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#dashboard .bodyIcon img.icon_bottomLeft {
  left: 2px;
  bottom: 0;
}
#dashboard .bodyIcon img.icon_bottomRight {
  right: 2px;
  bottom: 0;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
#dashboard .numDiv {
  margin-bottom: 20px;
  margin-left: 30px;
}
#dashboard .numDiv .msgNum {
  text-align: center;
  padding-top: 10px;
}
#dashboard .numDiv .msgNum .num {
  font-size: 26px;
  margin: 0;
  padding-top: 12px;
  color: #fff;
  padding-left: 5px;
}
#dashboard .dashCont {
  padding: 25px 15px 35px;
  position: relative;
}
#dashboard .dashCont .cont {
  width: 100%;
}
#dashboard .dashCont .cont .left,
#dashboard .dashCont .cont .right {
  width: 25%;
  box-sizing: border-box;
}
#dashboard .dashCont .cont .center {
  width: 50%;
}
#dashboard .dashCont .list_wrap_padding {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: url("../image/divBack.png") no-repeat;
  background-size: 100% 100%;
  padding: 20px;
}
#dashboard .dashCont .list_wrap_padding.table_class {
  height: 310px;
  overflow: hidden;
}
#dashboard .dashCont .list_wrap_padding.map {
  height: 620px;
  background: none;
  padding: 0;
}
#dashboard .dashCont .tableTitle {
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  padding-left: 3px;
}
#dashboard .dashCont .topTitle {
  width: 100%;
  position: relative;
}
#dashboard .dashCont .topTitle .schoolName {
  font-size: 30px;
  margin-bottom: 18px;
  font-weight: bold;
  width: 50%;
  text-align: center;
}
#dashboard .dashCont .topList {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  -moz-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  position: relative;
}
#dashboard .dashCont .topList .tableDiv {
  height: 200px;
  overflow-y: auto;
}
#dashboard .dashCont .topList table {
  width: 100%;
  text-align: center;
}
#dashboard .dashCont .topList table thead {
  font-size: 12px;
}
#dashboard .dashCont .topList table td {
  padding: 10px 0;
}
#dashboard .dashCont .topList table tbody {
  height: 160px;
  overflow-y: auto;
}
#dashboard .bottom .list_wrap_padding {
  width: 25%;
}
#dashboard .notice {
  width: 25%;
  padding-left: 20px;
  box-sizing: border-box;
}
#dashboard .notice .am-notice-bar {
  background: none;
}
#dashboard .notice .am-notice-bar-icon {
  margin-left: 5px;
}
@keyframes flight {
  100% {
    transform: translateX(30px);
    opacity: 0.8;
  }
  0% {
    transform: translateX(0);
    opacity: 0.2;
  }
}
#dashboard .city_container {
  background-size: 100% 100%;
  border: 2px solid #223e57;
  padding: 5px;
}
