#dashboard {
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: #fff;
  background: -webkit-radial-gradient(#282b4b, #1b1c27);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#282b4b, #1b1c27);
  /* Opera 11.1 - 12.0 */
  background: -moz-radial-gradient(#282b4b, #1b1c27);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#282b4b, #1b1c27);
  /* 标准的语法 */
}
#dashboard ::-webkit-scrollbar {
  display: none;
}
#dashboard .clear {
  overflow: hidden;
}
#dashboard .fl {
  float: left;
}
#dashboard .flex_div {
  display: flex;
  display: -webkit-flex;
  display: -webkit-inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
#dashboard .gradeTitle {
  font-size: 16px;
  color: #a6abb9;
  margin: 0;
}
#dashboard .numDiv {
  margin-bottom: 20px;
}
#dashboard .numDiv .allNUm {
  padding-right: 60px;
}
#dashboard .numDiv .allNUm .num {
  font-size: 40px;
  margin: 0;
}
#dashboard .numDiv .msgNum .num {
  font-size: 26px;
  margin: 0;
  padding-top: 12px;
}
#dashboard .dashCont {
  height: 100%;
  overflow-y: auto;
  margin: 25px 15px 0;
}
#dashboard .dashCont .cont {
  padding-bottom: 35px;
  width: 100%;
}
#dashboard .dashCont .cont .left,
#dashboard .dashCont .cont .right {
  width: 25%;
  box-sizing: border-box;
}
#dashboard .dashCont .cont .center {
  width: 50%;
}
#dashboard .dashCont .list_wrap_padding {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: url("../image/divBack.png") no-repeat;
  background-size: 100% 100%;
  padding: 20px;
}
#dashboard .dashCont .list_wrap_padding.table_class {
  height: 310px;
  overflow: hidden;
}
#dashboard .dashCont .list_wrap_padding.map {
  height: 620px;
  background: none;
}
#dashboard .dashCont .tableTitle {
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  padding-left: 3px;
}
#dashboard .dashCont .topTitle {
  width: 100%;
}
#dashboard .dashCont .topTitle .schoolName {
  font-size: 30px;
  margin-bottom: 18px;
  font-weight: bold;
}
#dashboard .dashCont .topList {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  -moz-box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  box-shadow: 6px 16px 4px 0 rgba(34, 39, 58, 0.06);
  position: relative;
}
#dashboard .dashCont .topList .tableDiv {
  height: 200px;
  overflow-y: auto;
}
#dashboard .dashCont .topList table {
  width: 100%;
  text-align: center;
}
#dashboard .dashCont .topList table thead {
  font-size: 12px;
}
#dashboard .dashCont .topList table td {
  padding: 10px 0;
}
#dashboard .dashCont .topList table tbody {
  height: 160px;
  overflow-y: auto;
}
#dashboard .bottom .list_wrap_padding {
  width: 25%;
}
