(node) util.print is deprecated. Use console.log instead.
.analysisList .analysisListDiv {
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-family: '微软雅黑';
  margin-left: 2rem;
}
.analysisList .analysisListDiv img {
  height: 70%;
  vertical-align: middle;
  margin-right: 0.4rem;
}
