.analysisList {
  .analysisListDiv {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: '微软雅黑';
    margin-left: 2rem;
    img {
      height: 70%;
      vertical-align: middle;
      margin-right: 0.4rem;
    }
  }
}
