.analysisList {
  .analysisListDiv {
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    font-family: '微软雅黑';
    margin-left: .4rem;
    color: #666;
    img {
      height: 70%;
      vertical-align: middle;
      margin-right: 0.4rem;
    }
  }
  .am-wingblank.am-wingblank-sm{
    margin-left: 8px;
    margin-right: 8px;
  }
  .am-wingblank.am-wingblank-sm .am-list-body{
    padding:0 10px;
  }
  div.line{
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    width:100%;
    position:relative;
  }
  div.line:before{
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #e5e5e5;
    height: 1px;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
  }
  .am-list-body div.line:last-child{
    display: none;
  }
}
