.classResult {
  .flex-container {
    margin: 0 15px;
  }

  .flex-container .inline {
    width: 80px !important;
    margin: 9px 9px 9px 0;
  }

  .flex-container .small {
    height: 20px !important;
    line-height: 20px !important;
  }

  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }

  .placeholder {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 85px;
    line-height: 85px;
    width: 100%;
  }

  .placeholderBottom {
    background-color: #ebebef;
    color: #bbb;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-top: 10px;
  }

  .flexByNoom {
    display: flex;
    alignItems: center;
    justifyContent: center;
    width: 100%;
  }

  .ulFirstByNoom {
    padding: 0 10px;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    li {
      font-size: 14px;
      height: 44px;
      line-height: 44px;
      border-bottom: 0.5px solid #e5e5e5;
      color: #666666;
      span {
        float: right;
        color: #666666;
      }
      b {
        float: left;
        font-weight: normal;
        margin-left: 0.5rem;
      }
      img {
        height: 60%;
        float: left;
        transform: translateY(25%);
      }
    }
  }

  .gradeRank {
    background-color: #42A7F9;
  }

  .classRank {
    background-color: #FDB300;
  }

  .rank {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }
}