(node) util.print is deprecated. Use console.log instead.
.result .flex-container {
  margin: 0 15px;
}
.result .flex-container .inline {
  width: 80px !important;
  margin: 9px 9px 9px 0;
}
.result .flex-container .small {
  height: 20px !important;
  line-height: 20px !important;
}
.result .sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}
.result .placeholder {
  text-align: center;
  font-size: .85rem;
}
.result .placeholder div {
  padding: 8px 0;
}
.result .flexByNoom {
  display: flex;
  alignItems: center;
  justifyContent: center;
  margin: .7rem;
  background: #fff;
  padding: 2.1rem 0rem;
}
.result .ulFirstByNoom {
  padding: 0 10px;
  list-style: none;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}
.result .ulFirstByNoom li {
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  border-bottom: 0.5px solid #e5e5e5;
  color: #666666;
}
.result .ulFirstByNoom li span {
  float: right;
  color: #666666;
}
.result .ulFirstByNoom li b {
  float: left;
  font-weight: normal;
  margin-left: 0.5rem;
}
.result .ulFirstByNoom li img {
  height: 60%;
  float: left;
  transform: translateY(25%);
}
.result .gradeRank {
  background-color: #42A7F9;
}
.result .classRank {
  background-color: #FDB300;
}
.result .rank {
  height: 45px;
  line-height: 45px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.result .am-tabs-default-bar-tab-active {
  color: #EE9D36;
}
.result .am-tabs-default-bar-underline {
  border: 1px #ee9d36 solid;
}
.result .am-flexbox .am-flexbox-item {
  margin-left: 0;
  position: relative;
}
.result .am-flexbox .am-flexbox-item:before {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #e5e5e5;
  width: 200%;
  transform: scaleX(0.5);
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  position: absolute;
  height: 60%;
  top: 20%;
  left: 0;
}
.result .am-flexbox .am-flexbox-item:first-child .placeholder div.color {
  color: #60b0f3;
}
.result .am-flexbox .am-flexbox-item:nth-child(2) .placeholder div.color {
  color: #56c26b;
}
.result .am-flexbox .am-flexbox-item:nth-child(3) .placeholder .color {
  color: #fe974d;
}
.result .am-flexbox .am-flexbox-item:nth-child(4) .placeholder .color {
  color: #eb6264;
}
