.result {
  .flex-container {
    margin: 0 15px;
  }

  .flex-container .inline {
    width: 80px !important;
    margin: 9px 9px 9px 0;
  }

  .flex-container .small {
    height: 20px !important;
    line-height: 20px !important;
  }

  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }

  .placeholder {
    text-align: center;
    font-size: .85rem;
  }
  .placeholder div {
      padding: 8px 0;
  }
  .flexByNoom {
    display: flex;
    alignItems: center;
    justifyContent: center;
    margin: .7rem;
    background: #fff;
    padding: 2.1rem 0rem;
  }
  .ulFirstByNoom {
    padding: 0 10px;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    li {
      font-size: 14px;
      height: 44px;
      line-height: 44px;
      border-bottom: 0.5px solid #e5e5e5;
      color: #666666;
      span {
        float: right;
        color: #666666;
      }
      b {
        float: left;
        font-weight: normal;
        margin-left: 0.5rem;
      }
      img {
        height: 60%;
        float: left;
        transform: translateY(25%);
      }
    }
  }

  .gradeRank {
    background-color: #42A7F9;
  }

  .classRank {
    background-color: #FDB300;
  }

  .rank {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
  }
  .am-tabs-default-bar-tab-active{
    color: #EE9D36;
  }
  .am-tabs-default-bar-underline{
    border:1px #EE9D36 solid
  }
  .am-flexbox .am-flexbox-item{
    margin-left: 0;
    position: relative;
  }
  .am-flexbox .am-flexbox-item:before{
    content: "";
    pointer-events: none;
    box-sizing: border-box;
    border: none;
    border-left: 1px solid #e5e5e5;
    width: 200%;
    transform: scaleX(0.5);
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    -webkit-transform-origin: 0 0;
    position: absolute;
    height: 60%;
    top: 20%;
    left:0;
  }
  .am-flexbox .am-flexbox-item:first-child .placeholder div.color{
      color: #60b0f3
  }
  .am-flexbox .am-flexbox-item:nth-child(2) .placeholder div.color{
    color: #56c26b;
  }
  .am-flexbox .am-flexbox-item:nth-child(3) .placeholder .color{
      color: #fe974d
  }
  .am-flexbox .am-flexbox-item:nth-child(4) .placeholder .color{
      color: #eb6264;
  }
  .class_table {
    width: 100%;
    background: #fff;
    overflow: auto;
  }
  .class_table_cont{
    background: #fff;
    min-height: 100%;
    width: 160%;
    border-spacing: 0;
  }
  .class_table_cont thead td{
    background: #e7f1fd;
    color: #333;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
  }
  .class_table_cont tbody tr td{
    text-align: center;
    min-height: 40px;
    line-height: 20px;
    color: #666;
    padding: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
  .class_table_cont tbody tr:nth-child(odd){
    background: #fff;
  }
  .class_table_cont tbody tr:nth-child(even){
    background: #fafbfe;
  }
  .class_table_cont thead td.first, .class_table_cont tbody tr td.first{
    width: 12%;
  }
  .class_table_cont thead td.second, .class_table_cont tbody tr td.second{
    width:43%
  }
  .class_table_cont thead td.three, .class_table_cont tbody tr td.three{
    width: 15%;
  }
  .class_table_cont tbody tr td:nth-child(2){
    text-align: left;
  }
}


