#classSortPage {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", Helvetica, Arial;
  overflow: hidden;
  /*  @media only screen and (max-width: 768px) {
      .iframeDiv {
        top: auto;
        bottom:0;
        left: 0;
        width: 100%;
        height: 90%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }
    }*/
  /*课程*/
  /* 个人中心*/
}
#classSortPage .am-list-body::before,
#classSortPage .am-list-body::after {
  display: none;
}
#classSortPage .am-tab-bar-bar .am-tab-bar-tab-title {
  margin: 5px 0 0 0 ;
  font-size: 12px;
}
#classSortPage.moreReview .classList {
  padding-bottom: 0;
}
#classSortPage.moreReview .am-list-body {
  background-color: #f5f5f9;
}
#classSortPage.moreReview .am-list-body .item {
  margin: 0 9px 10px;
}
#classSortPage.moreReview .am-list-body .item:first-child {
  margin-top: 10px;
}
#classSortPage .classFrame {
  height: calc(100vh - 45px);
  border: none;
  width: 100%;
}
#classSortPage ul,
#classSortPage li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#classSortPage .topTitle {
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  background: white;
  position: relative;
}
#classSortPage .topTitle .icon_back {
  width: 30px;
  height: 30px;
  display: block;
  background: url("../imgs/icon_back.png") no-repeat center center;
  background-size: 18px;
  left: 8px;
  position: absolute;
  top: 50%;
  font-size: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
#classSortPage .topTitle .icon_back + span {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background-color: white;
  margin: 0 auto;
}
#classSortPage .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box {
  border-bottom: 0;
}
#classSortPage .my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}
#classSortPage .noom-accordion {
  box-sizing: border-box;
  cursor: pointer;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  align-items: center;
  /*      border-bottom: 1px #ebebeb solid;*/
  padding: 15px 0;
}
#classSortPage .noom-accordion .am-accordion-item {
  width: 100%;
}
#classSortPage .noom-accordion .am-accordion-header i {
  top: 27px;
  right: 51px;
}
#classSortPage .noom-accordion .filePic,
#classSortPage .noom-accordion .QuePic {
  margin-right: 15px;
  width: 30px;
  height: auto;
  vertical-align: middle;
}
#classSortPage .noom-accordion .am-accordion {
  border-top: none;
}
#classSortPage .noom-accordion:last-child {
  border-bottom: 0;
}
#classSortPage .ant_title {
  color: #545454;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  height: 57px;
  background: #fff;
  padding: 20px 0 20px 15px;
  box-sizing: border-box;
}
#classSortPage .ant_title .btns {
  /*float: right;*/
}
#classSortPage .ant_title .am-icon-md {
  color: #999;
  width: 28px;
  height: 28px;
  margin-left: -9px;
}
#classSortPage .ant_title .icon_back {
  color: #333333;
  font-size: 22px;
  float: left;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  padding-top: 7px;
}
#classSortPage .ant_title .icon_back.icon_arrow {
  padding-top: 4px;
}
#classSortPage .ant_title .icon_back.ant_text {
  font-weight: normal;
  font-size: 17px;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 350px);
}
#classSortPage .am-list-header {
  padding: 0;
}
#classSortPage .tableTitle {
  background-color: #fff;
  color: #333;
}
#classSortPage .option {
  width: 65px;
}
#classSortPage .noomWidth {
  padding-left: 15px;
  padding-right: 20px;
  width: calc(100% - 65px);
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  height: 40px;
  justify-content: center;
}
#classSortPage .noomWidth > div {
  width: calc(100% - 80px);
  position: absolute;
  left: 60px;
  top: 0;
  line-height: 20px;
}
#classSortPage .noomWidth > span {
  display: inline-block;
}
#classSortPage .noomWidth > span:first-child {
  width: 100%;
}
#classSortPage .noomWidth > span:last-child {
  width: 100%;
  padding-left: 45px;
  box-sizing: border-box;
}
#classSortPage .ant_btn_list {
  display: inline-block;
  line-height: 15px;
  vertical-align: middle;
  cursor: pointer;
}
#classSortPage .ant_btn_list.add_file {
  font-size: 14px;
  padding: 0 0 0 29px;
  color: #424242;
  background: url("../imgs/icon_add_course1New.png") no-repeat;
  background-size: 19px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
}
#classSortPage .ant_btn_list.add_file:after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  background: #E5E5E5;
  right: -25px;
  top: -2px;
}
#classSortPage .ant_btn_list.upload_file {
  font-size: 14px;
  padding: 0 16px 0 29px;
  color: #424242;
  background: url("../imgs/icon_uploadNew.png") no-repeat;
  background-size: 19px 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 25px;
}
#classSortPage .ant_btn_line {
  margin: 0 15px;
  position: relative;
  width: 1px;
}
#classSortPage .ant_btn_line:after {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  border: none;
  width: 1px;
  background: #c9c9c9;
  -webkit-transform: scaleX(0.5);
  /* for Chrome || Safari */
  -moz-transform: scaleX(0.5);
  /* for Firefox */
  -ms-transform: scaleX(0.5);
  /* for IE */
  -o-transform: scaleX(0.5);
  /* for Opera */
  transform: scaleX(0.5);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
#classSortPage .ant_btn_img {
  width: 18px;
  float: left;
  margin-right: 4px;
}
#classSortPage .title_wrap {
  display: flex;
  margin-bottom: 4px;
}
#classSortPage .lineheight {
  line-height: 1;
}
#classSortPage .ant_list_title {
  font-size: 15px;
  color: #424242;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#classSortPage .ant_list_time {
  color: #999;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#classSortPage .flex_align_center {
  align-items: center;
}
#classSortPage .margin_right_8 {
  margin-right: 8px;
}
#classSortPage .ul_list_del {
  padding: 0;
  text-align: left;
  color: #666;
  font-size: 0;
  width: 65px;
}
#classSortPage .ul_list_del li {
  padding: 5px 0;
}
#classSortPage .ul_list_del li:first-child {
  margin-right: 18px;
}
#classSortPage .icon_small_del {
  height: 16px;
}
#classSortPage .am-accordion .am-accordion-item .am-accordion-header::after,
#classSortPage .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box::after {
  height: 0;
}
#classSortPage .ant_list_subject {
  max-height: 38px;
  overflow: hidden;
  width: 65%;
  position: absolute;
  left: 95px;
  top: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#classSortPage .ant_list_subject2 {
  max-height: 58px;
  overflow: hidden;
  width: 65%;
  position: absolute;
  left: 95px;
  top: 16px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}
#classSortPage .ant_list_subject_no {
  margin-bottom: 0;
}
#classSortPage .ant_list_subject_no > div > div {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 !important;
}
#classSortPage .progress {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#classSortPage .progress img {
  width: 35px;
  margin-bottom: 10px;
}
#classSortPage .progress span {
  padding-left: 3px;
}
#classSortPage .emptyCont {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: #666;
  width: 210px;
  font-size: 14px;
}
#classSortPage .emptyCont img {
  width: 100%;
  margin-bottom: 5px;
}
#classSortPage .am-modal-mask {
  background: none;
}
#classSortPage .iframeDiv {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  width: 500px;
  height: 80%;
  z-index: 1001;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.4) !important;
}
#classSortPage .iframeDiv .iframeBox {
  border: 0;
  width: 100%;
  height: calc(100% - 38px);
}
#classSortPage .iframeDiv .iframeBox .iframeBox {
  width: 100%;
  height: 100%;
}
#classSortPage .iframeDiv .text_hidden {
  text-align: center;
  line-height: 38px;
  margin: 0;
  background-color: #f8f8f8;
  font-size: 15px;
  width: 100%;
  display: block;
}
#classSortPage .iframeDiv .iframeTitle {
  color: #333;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0;
}
#classSortPage .iframeDiv .closeIframe {
  background: url("../imgs/icon_close.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: 0;
  cursor: pointer;
}
#classSortPage .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 1000;
  opacity: 0;
}
#classSortPage .termite_popover {
  width: 200px;
  top: 52px !important;
}
#classSortPage .termite_popover .am-popover-item-container {
  justify-content: center;
}
#classSortPage .am-tabs-horizontal .am-tabs-pane-wrap-active,
#classSortPage .am-tabs-pane-wrap {
  overflow: hidden !important;
}
#classSortPage .classList {
  height: calc(100% - 45px);
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 10px;
}
#classSortPage .classList h5 {
  font-size: 17px;
  padding: 14px 16px;
  margin: 0;
  overflow: hidden;
}
#classSortPage .classList .item {
  background-color: white;
  margin: 10px 9px 0;
  box-shadow: 0 2px 5px #3672ed20;
  border-radius: 5px;
  padding: 15px 7px 15px 14px;
  position: relative;
}
#classSortPage .classList .item:first-child {
  margin-top: 0;
}
#classSortPage .classList .classBtn {
  position: absolute;
  color: #3672ED;
  font-size: 12px;
  padding: 5px 11px;
  border: 1px #3672ED solid;
  border-radius: 2px;
  right: 7px;
  top: 16px;
  line-height: 1;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
#classSortPage .classList .clear {
  overflow: hidden;
}
#classSortPage .classList .courseName {
  line-height: 25px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  width: calc(100% - 88px);
}
#classSortPage .classList .liveClass .courseName {
  background: url("../imgs/icon_livePlay.gif") no-repeat left -2px;
  background-size: 24px;
  padding-left: 27px;
}
#classSortPage .classList .time {
  font-size: 12px;
  color: #888888;
  padding: 5px 0 13px;
}
#classSortPage .classList .leftCont {
  width: 100%;
  overflow-x: auto;
}
#classSortPage .classList .leftCont::-webkit-scrollbar {
  display: none !important;
}
#classSortPage .classList .leftCont img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
#classSortPage .classList .leftCont > div {
  padding: 5px 2px 0;
  margin-right: 10px;
}
#classSortPage .classList .leftCont > div:first-child img {
  box-shadow: 0 0 5px #3672ED;
}
#classSortPage .classList .leftCont .teacherName {
  font-size: 11px;
  color: #999;
  padding-top: 5px;
}
#classSortPage .classList .more {
  float: right;
  color: #666;
  font-size: 13px;
  font-weight: normal;
}
#classSortPage .personal-center {
  background: url("../imgs/personal-center.png") no-repeat;
  height: 279px;
  background-size: 100% 100%;
  text-align: center;
}
#classSortPage .user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 74px auto 23px auto;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
#classSortPage .user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#classSortPage .user-name {
  font-size: 15px;
  color: #fff;
  line-height: 1;
}
#classSortPage .personal-cont {
  color: #333;
  font-size: 15px;
}
#classSortPage .personal-cont > div {
  height: 46px;
  padding: 0 15px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#classSortPage .personal-cont .personal-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#classSortPage .personal-cont .log-out {
  justify-content: center;
  margin-top: 50px;
}
#classSortPage .personal-cont .light-gray {
  color: #666;
}
#classSortPage .am-modal-input input {
  border: 1px solid #eee;
  width: 100%;
}
#classSortPage .am-modal-input-container::after {
  background: #fff !important;
}
#classSortPage input,
#classSortPage textarea {
  border: 0;
  /* 方法1 */
  -webkit-appearance: none;
  /* 方法2 */
}
#classSortPage .empty-wrap {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
}
