html, body {
  height: 100%;
  font-size: 14px;
  font-family:  "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial
}
body {
  overflow: auto!important;
  -webkit-overflow-scrolling: touch;
}
#example, .container {
  height: 100%;
}
.body {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  overflow: scroll;
}
.fixed-bottom {
  position: fixed; bottom: 0; left: 0;
  width: 100%; height: 70px;
  background-color: #ddd;
}
hr {
  margin: 70px 10px;
}

// fix style
.am-modal-content {
  height: auto;
  min-height: 100%;
}
// .am-popup-mask, .am-popup-wrap, .am-popup {
//   position: absolute;
// }
.am-refresh-control-pull, .am-refresh-control-release {
  justify-content: flex-start;
}
.color_9{
  color: #999;
}
.color_6{
  color: #666;
}
.color_6_p{
  padding: 20px 0 10px 15px;
  background: #fff;
}
.flex_1{
  flex: 1;
}
.flex_auto{
  flex: auto;
}
.font_15{
  font-size: 15px;
  color: #333;
}
.font_13{
  font-size: 13px;
}
.font_12{
  font-size: 12px;
}
.font_14{
  font-size: 14px;
}
.color_red{
  color:#F46A55
}
.line_item{
  height: 8px;
  background: #f4f4f4;
}
.my_flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex_1{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.h_blue_btn, .J{
  color:#4990E2;
  border-radius: 2px;
  border: 1px solid #4990E2;
  padding: 2px 4px;
  font-size: 14px;
}
.h_orange_btn, .MC{
  color:#F6A623;
  border-radius: 2px;
  border: 1px solid #F6A623;
  padding: 2px 4px;
  font-size: 14px;
}
.h_red_btn, .S{
  color:#F56A55;
  border-radius: 2px;
  border: 1px solid #F56A55;
  padding: 2px 4px;
  font-size: 14px;
}
.h_green_btn, .C{
  color:#6BA52B;
  border-radius: 2px;
  border: 1px solid #6BA52B;
  padding: 2px 4px;
  font-size: 14px;
}
.padding_8{
  padding: 8px 0;
  line-height: 20px;
}
.font_20{
  font-size: 1.42rem;
  font-family: sans-serif;
}
.font_16{
  font-size: 1.15rem;
  font-family: sans-serif;
}
.tags_blue{
  margin: -5px 0 0 0;
}
.tags_blue span{
  border: 1px solid #a3ceff;
  border-radius: 2px;
  padding: 4px 6px;
  color: #4a90e2;
  margin-right: 10px;
  margin-top: 10px;
}
.list_padding{
  padding: 15px;
  border-bottom: 10px solid #f4f4f4;
}
.my_flex_wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.list_padding_no_b{
  border-bottom: 0px;
}