@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html,
body {
  height: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
}
body {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#example,
.container {
  height: 100%;
}
.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ddd;
}
hr {
  margin: 70px 10px;
}
.am-modal-content {
  height: auto;
  min-height: 100%;
}
.am-card,
.am-list-body {
  border: 0 !important;
}
.am-refresh-control-pull,
.am-refresh-control-release {
  justify-content: flex-start;
}
.color_9 {
  color: #999;
}
.color_6 {
  color: #666;
}
.color_6_p {
  padding: 20px 0 10px 15px;
  background: #fff;
}
.flex_1 {
  flex: 1;
}
.flex_auto {
  flex: auto;
}
.font_15 {
  font-size: 15px;
  color: #333;
}
.font_13 {
  font-size: 13px;
}
.font_12 {
  font-size: 12px;
}
.font_14 {
  font-size: 14px;
}
.color_red {
  color: #F46A55;
}
.line_item {
  height: 8px;
  background: #f4f4f4;
}
.my_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  overflow: hidden;
}
.flex_1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex_auto {
  flex: auto;
}
.h_blue_btn,
.J {
  color: #4990E2;
  border-radius: 2px;
  border: 1px solid #4990E2;
  padding: 2px 4px;
  font-size: 14px;
}
.h_orange_btn,
.MC {
  color: #F6A623;
  border-radius: 2px;
  border: 1px solid #F6A623;
  padding: 2px 4px;
  font-size: 14px;
}
.h_red_btn,
.S {
  color: #F56A55;
  border-radius: 2px;
  border: 1px solid #F56A55;
  padding: 2px 4px;
  font-size: 14px;
}
.h_green_btn,
.C {
  color: #6BA52B;
  border-radius: 2px;
  border: 1px solid #6BA52B;
  padding: 2px 4px;
  font-size: 14px;
}
.padding_8 {
  padding: 8px 0;
  line-height: 20px;
}
.font_20 {
  font-size: 1.42rem;
  font-family: sans-serif;
}
.font_16 {
  font-size: 1.15rem;
  font-family: sans-serif;
}
.tags_blue {
  margin: -5px 0 0 0;
}
.tags_blue span {
  border: 1px solid #a3ceff;
  border-radius: 2px;
  padding: 4px 6px;
  color: #4a90e2;
  margin-right: 10px;
  margin-top: 10px;
}
.list_padding {
  padding: 15px;
  border-bottom: 10px solid #f4f4f4;
}
.my_flex_wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.list_padding_no_b {
  border-bottom: 0;
}
.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border-color: #f46a55 !important;
  background: #f46a55 !important;
}
.list_wrap_padding {
  padding: 15px;
}
.flex_container {
  margin: 0 15px;
}
.flex_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.cont_communal {
  color: #333;
  font-size: 17px;
  padding: 0 15px;
  background: #fff;
}
.cont_font {
  color: #333;
  font-size: 17px;
}
.cont_padding {
  padding: 0 15px;
}
.bg_white {
  background: #fff;
}
.list_high {
  height: 44px;
  line-height: 44px;
  width: 100%;
}
.text_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.font_gray {
  color: #5f5f5f;
}
.add_title {
  height: 44px;
  line-height: 44px;
}
.float_ri {
  float: right;
}
.float_l {
  float: left;
}
.addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
  background-color: #F56A55;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  line-height: 2.8rem;
  text-align: center;
  z-index: 10;
  cursor: pointer;
}
.addBunton img {
  width: 100%;
}
.submitBtn {
  padding: 0 15px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  border-radius: 2px;
  cursor: pointer;
}
.submitBtn .am-button-primary {
  background-color: #F56A55;
  border: 1PX solid #F56A55;
}
.submitBtn .am-button-primary::before {
  border: 1PX solid #F56A55 !important;
}
.submitBtn .am-button-primary.am-button-active {
  background-color: #F56A55;
  opcity: 0.3;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
/*班牌内页返回首页*/
.navBar {
  font-size: 0.89rem;
  color: #2a3350;
  font-weight: bold;
  height: 2.22rem;
  line-height: 2.22rem;
  border-bottom: 0.05rem #f4f4f4 solid;
  padding: 0 0.56rem;
}
.navBar span {
  display: inline-block;
}
.navBar .icon {
  margin: 0 0.56rem;
  background: url("components/classCardSystem/imgs/backArrow.png") no-repeat;
  width: 0.47rem;
  height: 0.81rem;
  background-size: 100% 100%;
  position: relative;
  top: 1px;
}
.home_content {
  width: calc(100% - 1.66rem);
  padding: 0.83rem;
  height: calc(100% - 1.66rem) !important;
  clear: both;
  position: relative;
}
.home_content .inner_bg {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 100%;
  padding: 0 10px 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.empty_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari 和 Chrome */
  -o-transform: translate(-50%, -50%);
}
.am-list-footer {
  color: #999 !important;
}
.am-button-warning {
  background-color: #F56A55 !important;
}
.am-button-primary,
.am-button {
  border-radius: 2px !important;
}
.am-button::before {
  border-color: #F56A55 !important;
}
.textOver {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.deleteBtn_common {
  float: right;
  display: block;
  width: 14px;
  height: 14px;
  background: url("components/classCardSystemBackstage/imgs/icon_delete.png") no-repeat center center;
  background-size: 14px;
  padding: 0 8px;
  margin-right: 4px;
}
.modifyBtn_common {
  float: right;
  display: block;
  width: 14px;
  height: 14px;
  background: url("components/classCardSystemBackstage/imgs/icon_modify.png") no-repeat center center;
  background-size: 14px;
  padding: 0 8px;
}
/*删除弹窗*/
.am-modal-content .am-modal-title {
  color: #333 !important;
  line-height: 22px;
  font-size: 17px !important;
}
.am-modal-content .am-modal-input input {
  padding-left: 6px;
}
.am-modal-content .am-modal-button {
  font-size: 16px !important;
  height: 45px !important;
  line-height: 45px !important;
  color: #108ee9 !important;
}
.am-modal-content .am-modal-header {
  padding: 6px 15px 5px !important;
}
.am-modal-content .am-modal-button-group-h .am-modal-button:last-child::before,
.am-modal-content .am-modal-button-group-h::before {
  background-color: #dfdfdf !important;
}
.am-modal-content .am-modal-body {
  padding: 0 15px 12px !important;
}
.am-list-item .am-list-line .am-list-content,
.am-list-item .am-input-label {
  color: #333 !important;
}
.line_public {
  position: relative;
}
.line_public:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: auto;
  right: 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.lineTop_public {
  position: relative;
}
.lineTop_public:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: 0;
  right: 15px;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.noticeMsg_common {
  background: #eee url("components/classCardSystemBackstage/imgs/noticeIcon.png") no-repeat 30px 9px;
  background-size: 18px;
  font-size: 15px;
  color: #666;
  line-height: 18px;
  padding: 11px 10px 11px 57px;
}
/* 首页通知 */
.notify_contModal {
  width: 26.31rem !important;
  height: 23.67rem;
  margin: auto;
}
.notify_contModal .am-modal-close {
  top: 15px;
}
.notify_contModal .am-modal-content {
  padding-top: 0 !important;
}
.notify_contModal .am-modal-header {
  padding: 2.06rem 0 0.33rem 0 !important;
  border-bottom: 0.05rem solid #f35454;
  margin: 0 2.22rem;
}
.notify_contModal .am-modal-title {
  color: #191c26 !important;
  font-size: 0.72rem !important;
  font-weight: bold;
}
.notify_contModal .am-modal-content .am-modal-body {
  padding: 0.56rem 0 2.22rem 0 !important;
  height: 17.36rem;
  font-size: 0.61rem;
  color: #565c72;
  text-align: left;
}
.notify_contModal .am-modal-content .am-modal-body .cont {
  height: 100%;
  padding: 0 2.22rem 0 2.22rem;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.3rem;
}
/*首页通知end*/
/* 公共空页面图start */
.emptyPage_content {
  position: relative;
  height: calc(100% - 4rem);
}
.emptyPage_icon {
  width: 10.86rem;
  height: 7.36rem;
  margin-bottom: 0.36rem;
  display: inline-block;
  margin-top: -0.5rem;
}
.emptyPage_text {
  font-size: 0.7rem;
  color: #959ab1;
  text-align: center;
}
.emptyPage_publicImg {
  background: url("components/classCardSystem/imgs/icon_emptypage.png") no-repeat;
  background-size: 100%;
}
/* 公共空页面图end */
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: initial;
}
@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px !important;
    height: 6px!important;
  }
}
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px !important;
    height: 12px!important;
  }
}
/*班牌屏幕适配*/
@media only screen and (min-width: 768px) and (max-width: 799px) {
  html {
    font-size: 14.5px !important;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1499px) {
  html {
    font-size: 20px !important;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1919px) {
  html {
    font-size: 28px !important;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 36px !important;
  }
}
.icon_pointer {
  cursor: pointer;
}
/*前进后退*/
.contactsListNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  background: #fff;
  height: 49px;
  margin: 0 auto;
  z-index: 10;
}
.contactsListNav .line_public {
  position: relative;
  width: 100%;
}
.contactsListNav .line_public:after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.contactsListNav .nav-left,
.contactsListNav .nav-right {
  box-sizing: border-box;
  display: inline-block;
  width: 10px;
  height: 18px;
  margin-top: 15px;
}
.contactsListNav .nav-left {
  background: url("components/mobileChat/img/left-back.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 33.333%;
}
.contactsListNav .nav-right {
  background: url("components/mobileChat/img/right-forward.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 33.333%;
  float: right;
}
.clazzDemeanor {
  padding: 0.83rem 0 0 0;
  height: 4.17rem !important;
}
.clazzDemeanor .slick-track,
.clazzDemeanor .slick-slider,
.clazzDemeanor .slick-list {
  height: 100% !important;
}
.clazzDemeanor .slick-track img,
.clazzDemeanor .slick-track .videoDiv {
  margin: 0 6px;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
}
.classReward {
  margin: 0.83rem 0 0 0;
  height: 7.78rem !important;
}
.classReward img,
.classReward .videoDiv {
  margin: 0 6px;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
}
.classReward .slick-track,
.classReward .slick-slider,
.classReward .slick-list {
  height: 100% !important;
}
.am-list-view-scrollview-content {
  width: 100%;
}
