#attendanceSatisticaForClass{
  background: #fff;
  .data_list{
    padding:5px 0 5px 15px
  }
  .am-whitespace.am-whitespace-lg{
    background:#f4f4f4
}
  .dom_cont{
    padding:15px 0;
    background: #fff !important;
  }
}