#skin_middleSchool{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(#1053a4, #049adc); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#1053a4, #049adc); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#1053a4, #049adc); /* Firefox 3.6 - 15 */
  background: linear-gradient(#1053a4, #049adc); /* 标准的语法 */
  #header{
      background: none;
    .headTitle{
      background: url("../../imgs/headTittle_bg.png") no-repeat;
      background-size: 100% 100%;
    }
    .headTitleT{
      color: #fff;
    }
  }
  .home_content{
    background: none;
  }
  .home_card,.home_title,.studentOnDuty_today,.home_contfont,.font_title2,.blue_text,.blue_big{
    color: #fff;
  }
}