#addGreaTeacher {
  background: #fff;
  font-size: 14px;
  height: 100%;
}
#addGreaTeacher .uploadImgCont img,
#addGreaTeacher .uploadImgBtn {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-top: 10px;
  object-fit: cover;
  float: left;
  border-radius: 5px;
}
#addGreaTeacher .uploadImgCont img {
  width: 84px;
  height: 111px;
  border: 1px solid #DCDCDC;
}
#addGreaTeacher .am-list-body::before,
#addGreaTeacher .am-list-body::after {
  background: transparent;
}
#addGreaTeacher .am-list-header {
  color: #333;
  padding: 15px 0 9px 0px;
}
#addGreaTeacher .am-list-item .am-input-control input,
#addGreaTeacher .am-textarea-control textarea {
  font-size: 14px;
}
#addGreaTeacher .ListItem,
#addGreaTeacher .ListItem-teacher {
  margin: 0 15px;
}
#addGreaTeacher .ListItem .am-list,
#addGreaTeacher .ListItem-teacher .am-list {
  padding: 5px 0;
}
#addGreaTeacher .ListItem .am-list-header,
#addGreaTeacher .ListItem-teacher .am-list-header {
  width: 30px;
  display: inline-block;
}
#addGreaTeacher .ListItem .am-list-body,
#addGreaTeacher .ListItem-teacher .am-list-body {
  width: calc(100% - 30px);
  display: inline-block;
}
#addGreaTeacher .ListItem .am-list-line,
#addGreaTeacher .ListItem-teacher .am-list-line {
  padding-right: 0;
}
#addGreaTeacher .ListItem-teacher .am-list-header {
  padding: 15px 0;
  width: 100%;
  line-height: 1;
}
#addGreaTeacher .ListItem-teacher .am-list-body {
  width: 100%;
}
#addGreaTeacher .ListItem-teacher .am-list-body .am-textarea-item {
  background: #F5F5F5;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 0;
}
#addGreaTeacher .ListItem-teacher .am-list-body .am-textarea-control textarea {
  padding-right: 10px;
  box-sizing: border-box;
  text-align: justify;
}
#addGreaTeacher .ListItem-teacher .am-list-body .am-textarea-control {
  padding-bottom: 15px;
}
#addGreaTeacher .list-textarea .am-list-body::before,
#addGreaTeacher .list-textarea .am-list-body::after {
  background: #e5e5e5;
  border-radius: 3px;
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
#addGreaTeacher .list-textarea .am-list-body::before {
  content: '';
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
#addGreaTeacher .list-textarea .am-list-body::after {
  content: '';
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}
#addGreaTeacher .list-textarea .am-textarea-item::before,
#addGreaTeacher .list-textarea .am-textarea-item::after {
  content: '';
  position: absolute;
  background-color: #e5e5e5;
  border-radius: 3px;
  display: block !important;
  z-index: 1;
  height: 100%;
  width: 1PX;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
#addGreaTeacher .list-textarea .am-textarea-item::before {
  content: '';
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}
#addGreaTeacher .list-textarea .am-textarea-item::after {
  content: '';
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}
#addGreaTeacher .submitBtn {
  bottom: 32px;
}
#addGreaTeacher .submitBtn .am-button {
  line-height: 44px;
  height: 44px;
  border-radius: 5px !important;
  font-size: 15px;
  border: none;
}
