#addStudentDuty .redStar {
  color: red;
  font-size: 22px;
  position: absolute;
  left: 73px;
  top: 7px;
}
#addStudentDuty .bg_white {
  height: calc(100% - 210px);
  padding-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}
#addStudentDuty .am-list {
  height: 100%;
}
#addStudentDuty .am-list-body {
  overflow-y: auto;
  height: calc(100% - 43px);
}
#addStudentDuty .am-list-content {
  position: relative;
}
#addStudentDuty .am-checkbox-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#addStudentDuty .am-list-header {
  font-size: 17px;
  color: #000;
}
#addStudentDuty .am-list-body {
  border: 0;
  padding: 0 30px 0 72px;
}
#addStudentDuty .am-list-body::before,
#addStudentDuty .am-list-body::after {
  background: none !important;
}
#addStudentDuty .am-list-body .am-list-item {
  border-bottom: 1px #f4f4f4 solid;
}
#addStudentDuty .am-list-body .am-list-line::after {
  background-color: #fff;
}
#addStudentDuty .am-list-body div:not(:last-child) .am-list-line {
  border-bottom: 0;
}
