(node) util.print is deprecated. Use console.log instead.
#addTeachBuild .am-input-label-5 {
  width: auto !important;
  position: relative;
  padding-right: 15px;
}
#addTeachBuild .redStar {
  color: red;
  font-size: 22px;
  position: absolute;
  right: 2px;
  top: 2px;
}
#addTeachBuild .submit {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  line-height: 47px;
  display: block;
  border-radius: 2px;
  background-color: #F56A55;
  color: #fff;
  text-align: center;
}
#addTeachBuild .submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #F56A55;
}
