#addTeachBuild .am-input-label-5 {
  width: auto !important;
  position: relative;
  padding-right: 15px;
}
#addTeachBuild .redStar {
  color: red;
  font-size: 22px;
  position: absolute;
  right: 2px;
  top: 2px;
}
#addTeachBuild .submit {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  line-height: 47px;
  display: block;
  border-radius: 2px;
  background-color: #F56A55;
  color: #fff;
  text-align: center;
}
#addTeachBuild .submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #F56A55;
}
#addTeachBuild .isDangerArea .am-list {
  overflow: hidden;
}
#addTeachBuild .isDangerArea .am-list-header {
  color: #666;
  font-size: 16px;
  float: left;
  width: auto;
  padding-right: 5px;
}
#addTeachBuild .isDangerArea .am-list-content {
  color: #666 !important;
  font-size: 16px;
  padding-left: 24px;
  line-height: 32px;
  vertical-align: bottom;
}
#addTeachBuild .isDangerArea .am-list-body {
  float: left;
  border: 0;
  background: none !important;
}
#addTeachBuild .isDangerArea .am-list-body::before,
#addTeachBuild .isDangerArea .am-list-body:after,
#addTeachBuild .isDangerArea .am-list-body .am-list-line::after {
  display: none;
  border: 0;
}
#addTeachBuild .isDangerArea .am-list-body .am-list-line {
  border: 0;
}
#addTeachBuild .isDangerArea .am-radio-item {
  display: inline-block;
  background: none;
  width: 88px;
}
#addTeachBuild .isDangerArea .am-radio-inner:after {
  border: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #F56A55;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
#addTeachBuild .isDangerArea .am-radio-inner {
  border: 1px #F56A55 solid;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  left: 0 !important;
}
