#assessMoralEducation{
  .textOver{
    line-height: 20px;
  }
  .am-list-body::before{
    background: none !important;
  }
  .am-list-body{
    border: none !important;
  }
  .classInfo{
    padding: 23px 15px 13px;
    // position: relative;
    font-size: 15px;
    color: #666;
    .createTime{
      line-height: 40px;
    }
    .modifyBtn_common,.deleteBtn_common{
      height: 40px;
    }
    .healthScore,.politenessScore{
      color: #333;
      font-weight: bold;
      margin-left: 10px;
      display: inline-block;
      width: 25px;
      text-align: right;
      overflow-x: hidden;
      vertical-align: bottom;
      margin-right: 1px;
    }
    .topDiv{
      margin-bottom: 5px;
    }

  }
  .btnDiv,.topDiv{
    overflow: hidden;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  .bold{
    font-weight: bold;

  }
  .nodata{
    color: #999;
    background-color: #fff;
    text-align: center;
    line-height: 98px;
  }
  .am-list-body::after{
    background-color: #eee ;
  }
}