#classDemeanorList{
  overflow-y: auto;
  .am-list-item .am-list-line .am-list-content{
    padding: 15px 0;
  }
  .am-list-item:not(:last-child) .am-list-line::after{
    background-color: #eee;
  }
}
