#classBrandTemplateSkin{
  .submitBtn{
    position: absolute !important;
    width: calc(~"100% - 30px");
    left: 15px;
  }
  .am-list-body::before,.am-list-body::after,.am-list-line::after{
    display: none;
  }
  .am-list-body,.am-list-line{
    border: 0;
  }
  .classInfo{
    .am-list-item{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .my_flex{
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -khtml-align-items: center;
      align-items: center;
    }
    .titleText{
      width: calc(~"100% - 89px");
      .textName{
        width: calc(~"100% - 25px");
      }
    }
    img{
      width: 84px;
      height: 47px;
      padding-right: 10px;
    }
    .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio{
      height: 60px;
    }
    .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner{
      top:50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .am-radio-inner{
    border: 1px #b4b4b4 solid;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
  }
  .am-radio-checked .am-radio-inner{
    border: 1px #F56A55 solid;
  }
  .am-radio-inner:after{
    border: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F56A55;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
  }


}