#classCardHomePageDoor{
  height: 100%;
  overflow-y: auto;
  .teacher-item{
    margin: 0;
    padding: 0;
  }

  ul.classCardHomePageDoor{
    background: #fff;
    padding: 0 15px 20px 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li{
      width:33.33%;
      text-align: center;
      line-height: 1;
      margin: 20px 0 0 0;
      font-size: 13px;
      color: #666;
    }
  }
  h1{
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    color: #333;
    font-weight: normal;
    height: 35px;
    background: #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .arrow_right{
    width: 15px;
    height:15px;
    margin-left: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    background: url("../imgs/arrow_righ.png") no-repeat center center;
    background-size: contain;
  }
  .icon{
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    margin: 0 auto 12px auto;
  }
  /*教室环境设置*/
  .icon_bracelet{
    background: url("../imgs/icon_bracelet.png") no-repeat center center;
    background-size: contain;
  }
  /*班级风采管理*/
  .icon_classDemeanor{
    background: url("../imgs/icon_classDemeanor.png") no-repeat center center;
    background-size: contain;
  }
  /*教室编辑*/
  .icon_ClassroomManagement{
    background: url("../imgs/icon_ClassroomManagement.png") no-repeat center center;
    background-size: contain;
  }
  /*教室课程表管理*/
  .icon_course{
    background: url("../imgs/icon_course.png") no-repeat center center;
    background-size: contain;
  }
  /*班级荣誉管理*/
  .icon_honor{
    background: url("../imgs/icon_honor.png") no-repeat center center;
    background-size: contain;
  }
  /*班级德育评价管理*/
  .icon_moralEducationScore{
    background: url("../imgs/icon_moralEducationScore.png") no-repeat center center;
    background-size: contain;
  }
  /*班级通知管理*/
  .icon_notify{
    background: url("../imgs/icon_notify.png") no-repeat center center;
    background-size: contain;
  }
  .icon_publiCourse{
    background: url("../imgs/i_publicCourse.png") no-repeat center center;
    background-size: contain;
  }
  /*班级值日表管理*/
  .icon_studentOnDuty{
    background: url("../imgs/icon_studentOnDuty.png") no-repeat center center;
    background-size: contain;
  }
  .icon_earlyWarning{
    background: url("../imgs/i_earlyWarning.png") no-repeat center center;
    background-size: contain;
  }
  .icon_exercise{
    background: url("../imgs/i_exercise.png") no-repeat center center;
    background-size: contain;
  }
  /*校园预警人员管理*/
  .icon_warning{
    background: url("../imgs/icon_warning.png") no-repeat center center;
    background-size: contain;
  }
  /*校园考勤时段设置*/
  .icon_attendanceTime{
    background: url("../imgs/icon_attendanceTime.png") no-repeat center center;
    background-size: contain;
  }
  /*校园信息管理*/
  .icon_InformationManagement{
    background: url("../imgs/icon_InformationManagement.png") no-repeat center center;
    background-size: contain;
  }
  /*班牌皮肤设置*/
  .icon_skin{
    background: url("../imgs/icon_skin.png") no-repeat center center;
    background-size: contain;
  }
  /*班牌定时开关机*/
  .icon_time{
    background: url("../imgs/icon_time.png") no-repeat center center;
    background-size: contain;
  }
  /*班牌统一刷新*/
  .icon_refresh{
    background: url("../imgs/icon_refresh.png") no-repeat center center;
    background-size: contain;
  }
  /*手环管理*/
  .icon_BraceletManagement{
    background: url("../imgs/icon_BraceletManagement.png") no-repeat center center;
    background-size: contain;
  }
}