#classDemeanor {
  .showImg {
    min-height: 18rem;
    background-color: #fff;
  }
  .uploadImg {
    min-height: 10rem;
    background-color: #fff;
    .uploadImgBtn {
      width: 5rem;
      height: 5rem;
    }
  }
}