#classCardHomePageDoor{
  background: #fff;
  .classCardHomePageDoor{
    margin: 0 15px;
  }
  .classCardHomePageDoor li{
    color: #333;
    position: relative;
    padding: 8px 0 8px 32px;
    height: 44px;
    line-height: 46px;
    font-size: 17px;
  }
  .classCardHomePageDoor li:after{
    content: '';
    position: absolute;
    background-color: #e5e5e5;
    display: block;
    z-index: 1;
    top: auto;
    right: 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  .classCardHomePageDoor li:last-child:after {
    background-color: transparent;
  }
  .arrow_right{
    width: 15px;
    height:15px;
    margin-left: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    background: url("../imgs/arrow_righ.png") no-repeat center center;
    background-size: contain;
  }
  .icon{
    width: 22px;
    height:22px;
    position: absolute;
    top: 50%;
    left: 0;
    transform:translateY(-50%);
    background-size: 100% 100%;
    text-align: center ;
    display: inline-block;
  }
  .icon_bracelet{
    background: url("../imgs/i_bracelet.png") no-repeat center center;
    background-size: contain;
  }
  .icon_classDemeanor{
    background: url("../imgs/i_classDemeanor.png") no-repeat center center;
    background-size: contain;
  }
  .icon_ClassroomManagement{
    background: url("../imgs/i_ClassroomManagement.png") no-repeat center center;
    background-size: 100% 100%;
  }
  .icon_course{
    background: url("../imgs/i_course.png") no-repeat center center;
    background-size: contain;
  }
  .icon_honor{
    background: url("../imgs/i_honor.png") no-repeat center center;
    background-size: contain;
  }
  .icon_moralEducationScore{
    background: url("../imgs/i_moralEducationScore.png") no-repeat center center;
    background-size: contain;
  }
  .icon_notify{
    background: url("../imgs/i_notify.png") no-repeat center center;
    background-size: contain;
  }
  .icon_publiCourse{
    background: url("../imgs/i_publicCourse.png") no-repeat center center;
    background-size: contain;
  }
  .icon_studentOnDuty{
    background: url("../imgs/i_studentOnDuty.png") no-repeat center center;
    background-size: contain;
  }

}