#classroomManage {
  .textOver{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    display: block;

  }
  .am-button-small{
    background-color: #fff;
    height: 44px;
    line-height: 44px;
    border: none !important;
    &:before{
      border: 0;
    }
  }
  .whiteBack{
    background-color: #fff;
  }
  .am-pull-to-refresh-content-wrapper {
    height: 100%;
    overflow-y: auto;
  }
  .am-list-view-scrollview-content {
    /*height: calc(~"100% - 70px");*/
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }
  .am-pull-to-refresh-indicator {
    font-size: 1rem !important;
  }
  .am-list-body{
    border: 0;
    &::before{
      background: none;
    }
  }
  font-size: 17px;

  .tableDiv {
    position: relative;
    .am-card-body {
      min-height: 1.5rem !important;
      color: #888 !important;
    }
    .am-card-footer {
      margin-bottom: 1rem;
    }
    .calmCardUnbind {
      background: #f55d45;
      color: #fff !important;
      padding: 0 15px;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 14px;
      line-height: 24px;
    }
    .classInfo{
      position: relative;
      padding: 15px 15px 2px 15px;
      border-bottom: 1px #f4f4f4 solid;
      line-height: 24px;
      .textOver{
        width: 100%;
        color: #a9a9a9;
        font-size: 16px;
      }
    }
    .classroom{
      color:#000;
    }
    .grade{
      color: #a9a9a9;
      font-size: 15px;
      display: inline-block;
      margin-top: 8px;
    }
    .noomCardUnbind {
      color: #ff144e;
    }
    .liName {
      font-size: 30px;
    }
    .delClassroom{
      font-size: 14px;
      color: #F56A55;
      margin-left: 20px;
      //background: url("../imgs/delPic.png") no-repeat;
      //width: 18px;
      //height: 18px;
      //position: absolute;
      //right: 15px;
      //top:50px;
      //background-size: 100%;
      border: 1px #F56A55 solid;
      border-radius: 2px;
      position: absolute;
      //right: 15px;
      //top: 45px;
      right: 15px;
      top: 46px;
      line-height: 22px;
      padding: 0 14px;
      box-sizing: border-box;
    }
    .creatTime{
      margin-right: 20px;
      font-size: 15px;
      color: #a9a9a9;
      display: inline-block;
    }
  }
  .addModel {
    box-sizing: border-box;
    position: relative;
    .bindGrade{
      padding: 4px 0;
    }
    .am-checkbox-inner{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .am-checkbox-agree{
      .am-checkbox-agree-label{
        line-height: 1.7;
      }
    }
    .am-list {
      .am-list-body::before {
        display: none !important;
      }
      .am-list-body::after {
        display: none !important;
      }
      .am-list-body {
        background: transparent;

        .macAddress {
          margin-bottom: 1rem;
        }
        .chooseResult {
          .am-list-item {
            background: #e4e4e4;
            padding: 0;
            .am-list-line {
              padding: 0 20px;
              .am-list-content {
                font-size: 17px;
                padding: 1.5rem 1.5rem;
                border-bottom: 1px solid #d5d5d5;
                color: #676767;
                .am-list-brief {
                  font-size: 1.4rem;
                  color: #a2a2a2;
                }
              }
              .am-list-extra {
                .am-radio.am-radio-checked {
                  height: 100%;
                }
                .am-radio-inner {
                  top: 45%;
                  transform: translateY(-50%);

                }
              }
            }
          }
        }
        .am-list-item {
          // padding: 2rem 2rem;
          .am-input-label{
            color: #3c3c3c;
          }
          .am-input-control{
            line-height: 25px;
          }
          .am-input-control input {
            color: #3c3c3c;
          }
        }

        .am-list-line::after {
          height: 0px;
        }
        .am-list-line {
          .am-input-label.am-input-label-5 {
            width: auto !important;
            position: relative;
            padding-right:15px;
          }
          .am-input-control {
            input {
              width: 88% !important;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 16px;
            }
          }
        }
      }
    }
    .chooseResult {
      height: 300px;
      overflow: auto;
    }
    .close {
      font-size: 1.5em;
      background: #fff;
      color: #F56A55;
    }
    > h1 {
      margin-bottom: 50px;
    }
    .macAddress {
      position: relative;
      .scanIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .classroomName,
    .gradeName {
      position: relative;
      .redStar{
        color: red;
        font-size: 22px;
        position: absolute;
        right: 2px;
        top: 2px;

      }
      .stIcon {
        width: 18px;
        height: 28px;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -12px;
        img{
          width:100%
        }
      }
    }

    .bottomBox {
      display: flex;
      position: absolute;
      left:0;
      bottom: 0;
      width: 100%;
      span {
        flex: 1;
        text-align: center;
        font-size: 17px;
        padding: 1rem;
        display: inline-block;
      }
      .bind {
        background: #F56A55;
        color: #fff;
        &:active{
          color: rgba(255, 255, 255, 0.3);
          background-color: #F56A55;
        }
      }

    }

  }
  .div_creatTime{
    height: 44px;
    line-height: 44px;
  }
}