(node) util.print is deprecated. Use console.log instead.
#classDutyList {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 17px;
}
#classDutyList .am-list-item .am-list-line .am-list-content {
  padding: 15px 0 !important;
}
#classDutyList .textOver {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
#classDutyList .whiteBack {
  background-color: #fff;
}
#classDutyList .am-pull-to-refresh-content-wrapper {
  height: 100%;
  overflow-y: auto;
}
#classDutyList .am-list-view-scrollview-content {
  /*height: calc(~"100% - 70px");*/
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
#classDutyList .am-pull-to-refresh-indicator {
  font-size: 1rem !important;
}
#classDutyList .am-list-body {
  border: 0;
}
#classDutyList .am-list-body::before,
#classDutyList .am-list-body::after {
  background: none;
}
#classDutyList .tableDiv {
  position: relative;
}
#classDutyList .tableDiv .am-card-body {
  min-height: 1.5rem !important;
  color: #888 !important;
}
#classDutyList .tableDiv .am-card-footer {
  margin-bottom: 1rem;
}
#classDutyList .tableDiv .calmCardUnbind {
  color: #a9a9a9;
  padding: 0 15px;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 14px;
  line-height: 24px;
}
#classDutyList .tableDiv .classInfo {
  position: relative;
  padding-top: 10px;
  line-height: 24px;
}
#classDutyList .tableDiv .classInfo .textOver {
  width: calc(100% - 70px);
  color: #a9a9a9;
  font-size: 16px;
}
#classDutyList .tableDiv .classroom {
  color: #333;
  font-size: 17px;
}
#classDutyList .today_duty {
  color: #a9a9a9;
  font-size: 15px;
  margin: 0;
  padding: 5px 15px 0 15px;
  line-height: 1;
}
#classDutyList .today_dutylist {
  padding: 0 8px 15px 15px;
}
#classDutyList .today_dutylist span {
  width: calc(25% - 8px);
  padding-right: 8px;
  color: #666;
  font-size: 16px;
  line-height: 1;
  margin-top: 15px;
}
#classDutyList .am-list-line:after {
  background: #fff;
}
#classDutyList .no_data {
  color: #999;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
