(node) util.print is deprecated. Use console.log instead.
#classDemeanor .showImg {
  min-height: 18rem;
  background-color: #fff;
}
#classDemeanor .uploadImg {
  min-height: 10rem;
  background-color: #fff;
}
#classDemeanor .uploadImg .uploadImgBtn {
  width: 5rem;
  height: 5rem;
}
