#classCardHomePageDoor {
  background: #fff;
}
#classCardHomePageDoor .classCardHomePageDoor {
  padding: 15px;
  webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#classCardHomePageDoor .classCardHomePageDoor li {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  width: 33.33%;
  font-size: 14px;
}
#classCardHomePageDoor .classCardHomePageDoor li div {
  margin: 0 auto;
  color: #424242;
  padding: 10px 5px 15px 5px;
}
#classCardHomePageDoor .arrow_right {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url("../imgs/arrow_righ.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon {
  width: 42px;
  height: 42px;
  display: inline-block;
  text-align: center;
}
#classCardHomePageDoor .icon_bracelet {
  background: url("../imgs/icon_bracelet.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_classDemeanor {
  background: url("../imgs/icon_classDemeanor.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_ClassroomManagement {
  background: url("../imgs/icon_ClassroomManagement.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_course {
  background: url("../imgs/icon_course.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_honor {
  background: url("../imgs/icon_honor.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_moralEducationScore {
  background: url("../imgs/icon_moralEducationScore.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_notify {
  background: url("../imgs/icon_notify.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_publiCourse {
  background: url("../imgs/i_publicCourse.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_studentOnDuty {
  background: url("../imgs/icon_studentOnDuty.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_earlyWarning {
  background: url("../imgs/i_earlyWarning.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_exercise {
  background: url("../imgs/i_exercise.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_warning {
  background: url("../imgs/icon_warning.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_attendanceTime {
  background: url("../imgs/icon_attendanceTime.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_skin {
  background: url("../imgs/icon_skin.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_time {
  background: url("../imgs/icon_time.png") no-repeat center center;
  background-size: contain;
}
#classCardHomePageDoor .icon_refresh {
  background: url("../imgs/icon_refresh.png") no-repeat center center;
  background-size: contain;
}
