#classBrandTemplateSkin .submitBtn {
  position: absolute !important;
  width: calc(100% - 30px);
  left: 15px;
}
#classBrandTemplateSkin .am-list-body::before,
#classBrandTemplateSkin .am-list-body::after,
#classBrandTemplateSkin .am-list-line::after {
  display: none;
}
#classBrandTemplateSkin .am-list-body,
#classBrandTemplateSkin .am-list-line {
  border: 0;
}
#classBrandTemplateSkin .classInfo .am-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
#classBrandTemplateSkin .classInfo .my_flex {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -khtml-align-items: center;
  align-items: center;
}
#classBrandTemplateSkin .classInfo .titleText {
  width: calc(100% - 89px);
}
#classBrandTemplateSkin .classInfo .titleText .textName {
  width: calc(100% - 25px);
}
#classBrandTemplateSkin .classInfo img {
  width: 84px;
  height: 47px;
  padding-right: 10px;
}
#classBrandTemplateSkin .classInfo .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio {
  height: 60px;
}
#classBrandTemplateSkin .classInfo .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#classBrandTemplateSkin .am-radio-inner {
  border: 1px #b4b4b4 solid;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
#classBrandTemplateSkin .am-radio-checked .am-radio-inner {
  border: 1px #F56A55 solid;
}
#classBrandTemplateSkin .am-radio-inner:after {
  border: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #F56A55;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
