#classDemeanor .showImg {
  min-height: 18rem;
  background-color: #fff;
}
#classDemeanor .showImg .uploadImgBtn {
  width: 5rem;
  height: 5rem;
}
#classDemeanor .showImg .delImgBtn {
  width: 1rem;
  height: 1rem;
}
#classDemeanor .uploadImg {
  min-height: 10rem;
  background-color: #fff;
}
#classDemeanor .uploadImg .uploadImgBtn {
  width: 5rem;
  height: 5rem;
}
#classDemeanor .uploadImg .delImgBtn {
  width: 1rem;
  height: 1rem;
}