#clazzDutyList {
  overflow-x: hidden;
  overflow-y: auto;
  .am-list-item .am-list-line .am-list-content{
    padding: 15px 0 !important;
  }
  .am-list-line::after{
    background-color: #eee !important;
  }

  .search-nav{
    background: #fff;
    border-top: 9px #efeff4 solid;
    border-right: 15px solid #efeff4;
    border-bottom: 9px solid #efeff4;
    border-left: 15px solid #efeff4;
    position: relative;
    & i{
      background: url("../imgs/icon_search.png") no-repeat center center #fff;
      font-size: 0;
      width: 20px;
      height: 34px;
      background-size: 15px 19px;
      float: left;
      padding-left: 8px;
    }
    & input{
      z-index: 2;
      width: calc(~"100% - 58px");
      text-align: left;
      display: block;
      color: #000;
      font-size: 15px;
      background-color: #fff;
      border: 0;
      padding: 8px 30px 6px 0px;
      height: 20px;
      line-height: 20px;
      border-radius: 0 !important;
    }
    & .close{
      position: absolute;
      background: url("../imgs/icon-close.png") no-repeat;
      width: 16px;
      height: 16px;
      right: 4px;
      top: 9px;
      background-size: 16px;
    }
  }

}