#clazzDutyList {
  overflow-x: hidden;
  overflow-y: auto;
  .am-list-item .am-list-line .am-list-content{
    padding: 15px 0 !important;
  }
  .am-list-line::after{
    background-color: #eee !important;
  }

}