#curriculumSchedule {
  .addBunton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;

    img {
      width: 100%;
    }
  }
  .curriculum_cont {
    overflow: auto;
    height: calc(~"100%" - 145px);
    li {
      padding: 10px 0;
      div.list span {
        margin-left: 20px;
        font-size: 16px;
      }
      div.list span:first-child {
        margin-left: 0;
      }
      .text_cont1 {
        max-width: 28%;
      }
      .text_cont2 {
        max-width: 68%;
      }
      .text_cont3 {
        max-width: 100%;
      }
      .add_title{
        overflow: hidden;
      }
    }
  }
  .amend_btn {
    height: 44px;
  }
  .lineList {
    line-height: 23px;
    height: 26px;
  }
  .delete{
    height: 44px;
  }
}