(node) util.print is deprecated. Use console.log instead.
#curriculumSchedule .addBunton {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2.5rem;
}
#curriculumSchedule .addBunton img {
  width: 100%;
}
#curriculumSchedule .curriculum_cont {
  overflow: auto;
  height: calc(100% - 145px);
}
#curriculumSchedule .curriculum_cont li {
  padding: 10px 0;
}
#curriculumSchedule .curriculum_cont li div.list span {
  margin-left: 20px;
  font-size: 16px;
}
#curriculumSchedule .curriculum_cont li div.list span:first-child {
  margin-left: 0;
}
#curriculumSchedule .curriculum_cont li .text_cont1 {
  max-width: 28%;
}
#curriculumSchedule .curriculum_cont li .text_cont2 {
  max-width: 68%;
}
#curriculumSchedule .curriculum_cont li .text_cont3 {
  max-width: 100%;
}
#curriculumSchedule .curriculum_cont li .add_title {
  overflow: hidden;
}
#curriculumSchedule .amend_btn {
  height: 44px;
}
#curriculumSchedule .lineList {
  line-height: 23px;
  height: 26px;
}
#curriculumSchedule .delete {
  height: 44px;
}
