#getClassTableList{
  .teacher-item{
    padding: 0 0 0 15px;
    width: 215px;
    display: inline-block;
  }
  .teacher-avatar{
    width: 40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    img{
      width: 100%;
      height:100%;
      object-fit: cover;
    }
  }
  .teacher-name{
    width: 150px;
    display: inline-block;
    line-height: 40px;
    margin-left: 10px;
  }
  .teacher-amList_cont{
    width: calc(~"100% - 245px");
    display: inline-block;
  }
}