(node) util.print is deprecated. Use console.log instead.
#moralEducation {
  position: relative;
}
#moralEducation .tableDiv {
  overflow: auto;
}
#moralEducation .addBunton img {
  width: 100%;
}
#moralEducation .classSearchResult {
  height: calc(100% - 148px);
  background-color: #fff;
  overflow-y: auto;
}
#moralEducation .classSearchResult .classSearchResultInfo {
  padding: 5px 15px;
}
#moralEducation .classSearchResult .classSearchResultInfo > div {
  padding: 12px 0;
  font-size: 17px;
  border-bottom: 1px #eee solid;
}
#moralEducation .classHealth,
#moralEducation .classPoliteness {
  overflow: hidden;
}
#moralEducation .classHealth .resultGrade,
#moralEducation .classPoliteness .resultGrade {
  float: right;
}
#moralEducation .choiceData {
  font-size: 16px;
}
#moralEducation .am-list-item .am-list-line .am-list-content {
  padding: 15px 0;
}
#moralEducation .am-list-line::after {
  background-color: #eee;
}
