#notify {
  .headPic{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:45px;
    width:50px;
    height:50px;
    border-radius: 50%;
  }

  .deleteNoifty {
    position: absolute;
    top: 50%;
    left: 15px;
    transform:translateY(-50%);
    background: #ccc;
    border-radius: 50%;
    color: white;
  }
  .addButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2.5rem;
    bottom: 0.5rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    line-height: 2.8rem;
    text-align: center;
    font-size: 2.8rem;
    img{
      width: 100%;
    }
  }
  .submitBtn{
    padding: 0 15px;
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    box-sizing: border-box;
    .am-button-primary{
      background-color: #e94f4f;
      border: 1PX solid #e94f4f;
      &::before{
        border: 1PX solid #e94f4f;
      }
    }

  }
  .am-list-line::after{
    background-color:#fff;
  }
  .am-input-control{
    text-align: right;
    width: calc(~"100% - 130px");
    input{
      text-align: right;
      font-size: 16px;
    }
  }
  .am-list-item{
    border-top: 15px #f4f4f4 solid;
  }
  .am-textarea-control textarea{
    text-align: right;
    font-size: 16px;
  }
}