#notifyDetail{
  .card{
    margin:50px 15px 0;
    padding:10px 0;
    position:relative;
    border-radius: 0;
    word-wrap: break-word;
    min-height: 120px;
    &::before{
      border: 0;
    }
    .title{
      font-size: 16px;
      color: #666;
      line-height: 24px;
      margin: 8px 0;
    }
    .text{
      line-height: 22px;
      font-size: 14px;
      color: #333;
    }
    .content{
      overflow-y: auto;
      padding:  0 15px;
    }

  }
  .createDate{
    position:absolute;
    top:-50px;
    left: 0;
    text-align:center;
    width:100%;
    color: #999;
    font-size: 14px;
    line-height: 30px;

  }
  .editor_image{
    max-width: 100%;
    border: none;
  }
}