#studentSelectCourse {
  color: #fff;
  overflow-y: auto;
  font-size: .72rem;
  &.home_content .inner_bg{
    padding: 0;
    background: none;
    .navBar{
      background-color: #fff;
    }
  }
  .black_bg{
    background-color: #323336;
    padding: 1.9rem;
    height: calc(~"100% - 2.22rem");
    box-sizing: border-box;
  }
  .tableItem {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    td{
      border: 0.06rem #55575d solid;
      padding: .5rem 0;
      span{
        font-size: .56rem;
        padding-top: .28rem;
      }
      span.class_name{
        font-size: .72rem;
        padding-top: 0;
        padding-bottom: .39rem;
      }
    }

  }
}