#studentDutyList .content {
  height: 100%;
  overflow-y: auto;
}
#studentDutyList .am-button-small {
  background-color: #fff;
  height: 44px;
  line-height: 44px;
  border: none !important;
}
#studentDutyList .am-button-small:before {
  border: 0;
}
#studentDutyList .am-grid-line::before,
#studentDutyList .am-grid-line::after,
#studentDutyList .am-flexbox-item::before,
#studentDutyList .am-flexbox-item::after,
#studentDutyList .am-flexbox::after {
  background-color: #fff;
}
#studentDutyList .am-icon-md {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
}
#studentDutyList .am-grid.am-grid-line:not(.am-grid-carousel),
#studentDutyList .am-grid.am-grid-line .am-flexbox,
#studentDutyList .am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:last-child),
#studentDutyList .am-grid.am-grid-line .am-flexbox .am-flexbox-item:first-child {
  border: 0;
  height: auto;
}
#studentDutyList .dutyList {
  background-color: #fff;
  height: calc(100% - 148px);
}
#studentDutyList .dutyList .planTitle {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  padding: 10px 15px;
}
#studentDutyList .am-grid {
  height: calc(100% - 44px) !important;
  overflow-y: auto;
}
#studentDutyList .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content {
  height: auto;
  justify-content: left;
}
#studentDutyList .am-grid.am-grid-square .am-grid-item:before {
  padding-bottom: 0;
}
#studentDutyList .am-grid.am-grid-square .am-grid-item .am-grid-item-content {
  height: auto;
  transform: translateY(0);
  padding: 0;
}
#studentDutyList .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content {
  height: auto;
  padding-bottom: 20px;
}
#studentDutyList .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px!important;
  height: 50px!important;
}
#studentDutyList .am-grid-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 14px;
  font-size: 13px;
  color: #666;
}
#studentDutyList .am-grid.am-grid-line .am-flexbox,
#studentDutyList .am-grid .am-flexbox .am-flexbox-item.am-grid-item,
#studentDutyList .am-grid.am-grid-square .am-grid-item .am-grid-item-content {
  position: static;
}
@media only screen and (min-width: 600px) {
  #studentDutyList .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    width: 70px !important;
    height: 70px !important;
  }
}
#studentDutyList .planTitle {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  padding: 6px 15px 5px;
  background-color: #fff;
}
#studentDutyList .planTitle .top {
  line-height: 44px;
}
