#LookAtTheAnswer {
  .audio_left {
    width: 24px;
    height: 17px;
    display: inline-block;
    background: url(http://60.205.111.227/upload2/common/img/audio_left.png) no-repeat;
    background-position: -48px 0;
    position: relative;
    top: 4px;
  }
  .audio_left_run {
    width: 24px;
    height: 17px;
    display: inline-block;
    animation: audio_left_1 1s infinite;
    position: relative;
    top: 4px;
    background: url(http://60.205.111.227/upload2/common/img/audio_left.png) no-repeat;
  }
  @keyframes audio_left_1 {
    0% {
      background-position: 0 0;
    }
    30% {
      background-position: 0 0;
    }
    31% {
      background-position: -24px 0;
    }
    61% {
      background-position: -24px 0;
    }
    61.5% {
      background-position: -48px 0;
    }
    100% {
      background-position: -48px 0;
    }
  }
  .answerContent{
    padding: 10px 15px;
    height: calc(~'100% - 35px');
    overflow-y: auto;
  }
  .answerList{
    line-height: 1;
    font-size: 16px;
    color: #333;
    padding: 15px;
    border-bottom: 10px solid #f5f5f9;
    background: #fff;
  }
  .answerList15{
    padding: 0 15px;
  }
  .answerCont{
    color:#666;
    line-height: 1.5;
    font-size: 15px;
    padding-top: 10px;
  }
  .answerContNo{
    color:#888;
    line-height: 1.5;
    font-size: 14px;
    padding-top: 10px;
  }
  .ansImgCont{
    margin: 0 0 0 -15px;
    min-height: 95px;
  }
  .ansImg{
    width: 95px;
    height: 95px;
    display: inline-block;
    text-align: center;
    margin:15px 0 0 15px;
    position: relative;
    background: #f4f4f4;
  }
  .ansImg img{
    max-height: 100%;
    max-width: 100%;
  }
  .ansAudio{
    border: 1px solid #e5e5e5;
    background: #efefef;
    border-radius: 2px;
    padding: 4px 8px 8px 8px;
    width: 120px;
    margin-top: 15px;
  }
  .am-tabs-default-bar-tab-active{
    color: #73B6F5;
  }
  .am-tabs-default-bar-underline{
    border:1px #73B6F5 solid;
  }
  .am-tabs-default-bar-tab{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 27px;
    text-align: center;
    border-bottom: none!important;
    &::after{
      display: none !important;
    }
  }
}